/***************************************************              GENERAL RESET STYLES             ***************************************************/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

*:focus {
  outline: none;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border-style: none;
  max-width: 100%;
}

form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

input,
textarea,
select {
  vertical-align: middle;
  color: #000;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

input::-webkit-input-placeholder {
  color: #ebedec;
}

input:focus::-webkit-input-placeholder {
  color: #ebedec;
}

/*@media*/
/* @media (min-width: 1921px){} 													QHD \ UHD
@media (min-width: 1600px) and (max-width: 1919px) {}	HD +
@media (min-width: 1440px) and (max-width: 1599px) {}	macbook
@media (min-width: 1360px) and (max-width: 1439px) {}	HD
@media (min-width: 1280px) and (max-width: 1359px) {} IPAD2
@media (min-width: 1024px) and (max-width: 1279px) {} IPAD
@media (min-width: 896px) and (max-width: 1023px) {}	Ip Xs max horizontal
@media (min-width: 812px) and (max-width: 895px) {}		Ip Xs horizontal
@media (min-width: 768px) and (max-width: 811px) {}		Tablet
@media (min-width: 736px) and (max-width: 767px) {}		Ip 6,7,8 Plus horizontal
@media (min-width: 667px) and (max-width: 735px) {}		Ip 6,7,8 horizontal
@media (min-width: 568px) and (max-width: 666px) {}		Ip 5 horizontal
@media (min-width: 480px) and (max-width: 567px) {}		Ip 4 horizontal
@media (min-width: 414px) and (max-width: 479px) {}		Ip 6,7,8
@media (min-width: 320px) and (max-width: 413px) {}		Ip 4,5 */
.layout {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.row {
  padding: 0 100px;
  max-width: 100%;
  margin: 0 !important;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .row {
    padding: 0;
  }
}

header {
  margin: 0 auto;
  padding: 6px 0;
  -webkit-box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.08);
}

@media (max-width: 768px) {
  header {
    padding: 0;
  }
}

header .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  header .row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 767px) {
  header .row .col-7 {
    display: none;
  }
}

@media (max-width: 767px) {
  header .row .col-4,
  header .row .col-sm-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0;
  }
}

header .row .col-4 .mobRecall,
header .row .col-sm-3 .mobRecall {
  background-color: #01D957;
  border-radius: 50%;
  border: none;
  padding: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  position: relative;
  z-index: 99;
}

header .row .col-4 .mobRecall .fa-phone-alt,
header .row .col-sm-3 .mobRecall .fa-phone-alt {
  color: white;
  font-size: 20px;
}

@media (min-width: 768px) {
  header .row .col-4 .mobRecall,
  header .row .col-sm-3 .mobRecall {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  header .row .headNav {
    display: none;
  }
}

header .row .headNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  header .row .headNav ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

header .row .headNav ul li {
  padding: 0 40px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  header .row .headNav ul li {
    padding: 0 15px;
  }
}

header .row .headNav ul li a {
  text-decoration: none;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #1D1B1B;
}

header .row .headNav ul li a:hover {
  color: #01D957;
}

header .row .recall {
  padding: 13px 30px;
  border: none;
  background-color: #01D957;
  color: #ffffff;
  border-radius: 27px;
  float: right;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
}

header .row .recall:hover {
  background-color: #0b8600;
}

@media (min-width: 768px) and (max-width: 1023px) {
  header .row .recall {
    padding: 8px 15px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  header .row .recall {
    display: none;
  }
}

header .modal-open {
  background: #1B1B1B;
  opacity: 0.9;
}

header .modal-content {
  width: 100%;
  max-width: 490px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 30px 40px;
  opacity: 1;
}

header .modal-content .modal-header {
  border: none;
}

header .modal-content .modal-header h5 {
  margin: 0 auto;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 114.8%;
  /* identical to box height, or 28px */
  letter-spacing: 0.01em;
  text-align: center;
}

header .modal-content .btn-close {
  background-image: url("../images/btn-close.png");
  background-size: contain;
  position: absolute;
  top: 0;
  right: -45px;
  width: 32px;
  height: 32px;
  opacity: 1;
}

header .modal-content .modal-body {
  border: none;
}

header .modal-content .modal-body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .modal-content .modal-body form input {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  background: #FBFBFB;
  border: 1px solid #EEEDED;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114.8%;
  /* identical to box height, or 16px */
  letter-spacing: 0.01em;
}

header .modal-content .modal-body form input::-webkit-input-placeholder {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114.8%;
  /* identical to box height, or 16px */
  letter-spacing: 0.01em;
  color: #151515;
}

header .modal-content .modal-body form input:-ms-input-placeholder {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114.8%;
  /* identical to box height, or 16px */
  letter-spacing: 0.01em;
  color: #151515;
}

header .modal-content .modal-body form input::-ms-input-placeholder {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114.8%;
  /* identical to box height, or 16px */
  letter-spacing: 0.01em;
  color: #151515;
}

header .modal-content .modal-body form input::placeholder {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114.8%;
  /* identical to box height, or 16px */
  letter-spacing: 0.01em;
  color: #151515;
}

header .modal-content .modal-body .btn-primary {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 114.8%;
  /* identical to box height, or 16px */
  letter-spacing: 0.01em;
  color: #FFFFFF;
  background: #11D100;
  border-radius: 41px;
  width: 100%;
  border: none;
  padding: 16px;
  border-color: transparent;
}

header .modal-content .modal-body .btn-primary:hover {
  background-color: #0b8600;
}

header .modal-content .modal-footer {
  border: none;
}

header .modal-content .modal-footer .btn-primary {
  font-family: 'Golca';
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #11D100;
  border-radius: 41px;
  width: 100%;
  border: none;
  padding: 16px;
  border-color: transparent;
}

header .modal-content .modal-footer .btn-primary:hover {
  background-color: #0b8600;
}

header .hamburger-menu {
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  header .hamburger-menu {
    display: none;
  }
}

header .hamburger-menu #menu__toggle {
  opacity: 0;
}

header .hamburger-menu #menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 20px;
}

header .hamburger-menu #menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

header .hamburger-menu #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

header .hamburger-menu #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

header .hamburger-menu .menu__btn {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  float: right;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  width: 28px;
  height: 26px;
  cursor: pointer;
  z-index: 999;
}

header .hamburger-menu .menu__btn > span {
  top: -4px;
  display: block;
  position: absolute;
  border-radius: 4px;
  width: 28px;
  height: 4px;
  background-color: #01D957;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

header .hamburger-menu .menu__btn > span::after {
  text-align: right;
  content: '';
  width: 28px;
  display: block;
  position: absolute;
  border-radius: 4px;
  top: 8px;
  right: 0;
  height: 4px;
  background-color: #01D957;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

header .hamburger-menu .menu__btn > span::before {
  text-align: right;
  content: '';
  width: 28px;
  display: block;
  position: absolute;
  border-radius: 4px;
  top: -8px;
  right: 0;
  height: 4px;
  background-color: #01D957;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

header .hamburger-menu .menu__box {
  z-index: 99;
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: scroll;
  background-color: #F2F2F2;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

header .hamburger-menu .menu__box .head {
  margin-bottom: 120px;
  padding-right: 100px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .hamburger-menu .menu__box .head .logo {
  float: left;
}

header .hamburger-menu .menu__box .head .mobRecall-1 {
  background-color: #01D957;
  border-radius: 50%;
  border: none;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  margin-top: 8px;
  position: relative;
  z-index: 99;
}

header .hamburger-menu .menu__box .head .mobRecall-1 .fa-phone-alt {
  color: white;
  font-size: 20px;
}

header .hamburger-menu .menu__box li {
  text-align: center;
  margin-bottom: 70px;
}

header .hamburger-menu .menu__box .socMob a {
  text-decoration: none;
}

header .hamburger-menu .menu__box .socMob a .fab {
  color: #01D957;
  border: 1px solid #01D957;
  border-radius: 50%;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  margin: 0 10px;
}

header .hamburger-menu .menu__box .socMob a .fab:hover {
  color: #ffffff;
  background-color: #01D957;
}

header .hamburger-menu .menu__item {
  text-align: center;
  display: block;
  padding: 0;
  color: #000000;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 114.8%;
  text-decoration: none;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

header .hamburger-menu .menu__item:hover {
  color: #11D100;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main {
  padding: 0;
}

main .breadcrumb {
  padding-bottom: 110px;
  margin: 0;
}

main .breadcrumb .breadcrumb-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .breadcrumb .breadcrumb-item a {
  text-decoration: none;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #ffffff;
}

main .breadcrumb .active {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #ffffff;
}

main .breadcrumb .active::before {
  content: '>';
  color: #ffffff;
}

main .firstSection {
  background-image: url("../images/img-1.png");
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  main .firstSection {
    text-align: center;
  }
}

main .firstSection h2 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  margin-bottom: 20px;
}

@media (min-width: 320px) and (max-width: 767px) {
  main .firstSection h2 {
    font-size: 24px;
    text-align: center;
  }
}

main .firstSection p {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  width: 50%;
  margin-bottom: 35px;
}

@media (min-width: 320px) and (max-width: 767px) {
  main .firstSection p {
    font-size: 12px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

main .firstSection .more {
  padding: 16px 30px;
  border: none;
  background-color: #01D957;
  color: #ffffff;
  border-radius: 27px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
}

main .firstSection .more:hover {
  background-color: #0b8600;
}

@media (min-width: 320px) and (max-width: 767px) {
  main .firstSection .more {
    width: 80%;
    margin: 0 auto;
  }
}

main .secondSection {
  background-image: url("../images/img-bg.png");
  background-repeat: no-repeat;
  background-position: left 50%;
}

main .secondSection section {
  display: block;
  position: relative;
  padding-top: 100px;
  padding-bottom: 80px;
}

@media (min-width: 320px) and (max-width: 767px) {
  main .secondSection section {
    padding-top: 0;
  }
}

main .secondSection #services {
  padding-bottom: 130px;
}

@media (min-width: 320px) and (max-width: 767px) {
  main .secondSection #services {
    padding-bottom: 80px;
  }
}

main .secondSection #services h3 {
  padding-left: 80px;
}

main .secondSection #services h3::before {
  left: 0;
}

main .secondSection .name {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.075em;
  color: #D2D2D2;
  padding: 0;
  display: inline-block;
  margin-bottom: 15px;
}

main .secondSection h3 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #000000;
  position: relative;
  padding-bottom: 30px;
}

main .secondSection h3::before {
  content: '';
  border: 1px solid #01D957;
  background-color: #01D957;
  height: 1px;
  width: 52px;
  position: absolute;
  top: 16px;
  left: -80px;
}

@media (min-width: 320px) and (max-width: 767px) {
  main .secondSection h3::before {
    left: 0;
    top: 12px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  main .secondSection h3 {
    font-size: 24px;
    padding-left: 70px;
  }
}

main .secondSection h3 .green {
  color: #01D957;
  text-decoration: none;
}

main .secondSection p {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #1D1B1B;
  padding-bottom: 30px;
  margin-bottom: 0;
}

main .secondSection .textLeft {
  padding-left: 80px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 320px) and (max-width: 767px) {
  main .secondSection .textLeft {
    padding-left: 10px;
    padding-top: 40px;
  }
}

main .secondSection .textLeft .imgbox {
  margin-bottom: 30px;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 992px) {
  main .secondSection .textLeft .imgbox {
    display: none;
  }
}

main .secondSection .textLeft .more {
  padding: 16px 40px;
  border: none;
  background-color: #01D957;
  color: #ffffff;
  border-radius: 27px;
  margin-top: 10px;
  display: inline-block;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  text-decoration: none;
}

main .secondSection .textLeft .more:hover {
  background-color: #0b8600;
}

@media (min-width: 320px) and (max-width: 991px) {
  main .secondSection .textRight {
    display: none;
  }
}

main .secondSection .imgbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px 0 0 20px;
}

main .secondSection .imgbox .firstImg {
  position: relative;
  z-index: 1;
  display: block;
  float: right;
}

main .secondSection .box {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.08);
  border-radius: 14px;
  padding: 30px;
  background-repeat: no-repeat;
  background-position: right 20px;
}

@media (min-width: 320px) and (max-width: 767px) {
  main .secondSection .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 220px;
  }
}

main .secondSection .box h4 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  padding-top: 18%;
  margin-bottom: 20px;
  color: #01D957;
}

main .secondSection .box p {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #1D1B1B;
  width: 75%;
}

@media (min-width: 320px) and (max-width: 767px) {
  main .secondSection .box p {
    width: 100%;
    padding-bottom: 10px;
  }
}

main .secondSection .box .imgbox {
  padding-left: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  main .secondSection .box .imgbox {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  main .secondSection .box .imgbox img {
    margin: 0 auto;
  }
}

main .secondSection .left {
  background-image: url("../images/img-man.png");
  background-position: 88% 30px;
}

main .secondSection .left:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 1s;
  transition: 1s;
}

@media (min-width: 320px) and (max-width: 767px) {
  main .secondSection .left {
    background-position: center 20px;
  }
}

main .secondSection .left a {
  text-decoration: none;
}

main .secondSection .right {
  background-image: url("../images/img-coins.png");
  background-position: 95% 30px;
}

main .secondSection .right:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 1s;
  transition: 1s;
}

@media (min-width: 320px) and (max-width: 767px) {
  main .secondSection .right {
    background-position: center 20px;
  }
}

main .secondSection .right a {
  text-decoration: none;
}

main .formBg {
  background-color: #F8F8F8;
  padding: 75px 100px;
  max-width: 100%;
}

@media (min-width: 1024px) and (max-width: 1280px) {
  main .formBg {
    padding: 75px 50px;
  }
}

@media (min-width: 320px) and (max-width: 1023px) {
  main .formBg {
    padding: 20px;
  }
}

main .formBg .formBox {
  background-image: url("../images/form-Bg.png");
  background-repeat: no-repeat;
  background-position: right center;
}

@media (min-width: 320px) and (max-width: 1023px) {
  main .formBg .formBox {
    background-position: 0 0;
    background-size: contain;
    padding-top: 70%;
  }
}

main .formBg .formBox .form {
  width: 50%;
  padding-left: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) and (max-width: 1280px) {
  main .formBg .formBox .form {
    padding-left: 0;
  }
}

@media (min-width: 320px) and (max-width: 1023px) {
  main .formBg .formBox .form {
    width: 100%;
    padding-left: 0;
  }
}

main .formBg .formBox .form h3 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #000000;
  position: relative;
  margin-bottom: 30px;
}

main .formBg .formBox .form h3::before {
  content: '';
  border: 1px solid #01D957;
  background-color: #01D957;
  height: 1px;
  width: 52px;
  position: absolute;
  top: 16px;
  left: -80px;
}

@media (min-width: 320px) and (max-width: 1023px) {
  main .formBg .formBox .form h3::before {
    left: 0;
    top: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  main .formBg .formBox .form h3 {
    padding-left: 70px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  main .formBg .formBox .form h3 {
    font-size: 24px;
    padding-left: 70px;
  }
}

main .formBg .formBox .form p {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #1D1B1B;
  padding-bottom: 20px;
  width: 55%;
  margin-bottom: 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  main .formBg .formBox .form p {
    width: 50%;
    padding-left: 70px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  main .formBg .formBox .form p {
    width: 100%;
    font-size: 12px;
    padding-left: 70px;
  }
}

main .formBg .formBox .form input {
  width: 60%;
  background: #FBFBFB;
  border: 1px solid #EEEDED;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #1D1B1B;
  padding: 15px;
}

main .formBg .formBox .form input::-webkit-input-placeholder {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #1D1B1B;
}

main .formBg .formBox .form input:-ms-input-placeholder {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #1D1B1B;
}

main .formBg .formBox .form input::-ms-input-placeholder {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #1D1B1B;
}

main .formBg .formBox .form input::placeholder {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #1D1B1B;
}

@media (min-width: 768px) and (max-width: 1023px) {
  main .formBg .formBox .form input {
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  main .formBg .formBox .form input {
    width: 100%;
  }
}

main .formBg .formBox .form .submit {
  margin-top: 5px;
  background: #01D957;
  border-radius: 27px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

@media (min-width: 768px) and (max-width: 1023px) {
  main .formBg .formBox .form .submit {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  main .formBg .formBox .form .submit {
    width: 100%;
    margin-bottom: 20px;
  }
}

main .formBg .formBox .text {
  padding-left: 90px;
  width: 50%;
}

@media (min-width: 1024px) and (max-width: 1280px) {
  main .formBg .formBox .text {
    padding-left: 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  main .formBg .formBox .text {
    width: 100%;
    padding-left: 0;
    margin-bottom: 40px;
  }
}

main .formBg .formBox .text p {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #1D1B1B;
  padding-bottom: 20px;
  margin-bottom: 0;
  margin-left: 90px;
  position: relative;
}

main .formBg .formBox .text p::before {
  content: '';
  border: 1px solid #01D957;
  background-color: #01D957;
  height: 1px;
  width: 52px;
  position: absolute;
  top: 25%;
  left: -80px;
}

main .formBg .formBox .text .social {
  margin-left: 90px;
}

main .formBg .formBox .text .social a {
  text-decoration: none;
}

main .formBg .formBox .text .social a .fab {
  color: #01D957;
  border: 1px solid #01D957;
  border-radius: 50%;
  padding: 10px;
  font-size: 16px;
  text-align: center;
}

main .formBg .formBox .text .social a .fab:hover {
  color: #ffffff;
  background-color: #01D957;
}

.aboutAs .firstSection {
  background-image: url("../images/img-2.png");
  padding-top: 20px;
  background-size: cover;
}

.aboutAs .firstSection .more {
  display: none;
}

.aboutAs .secondSection {
  padding-top: 80px;
}

.aboutAs .secondSection .section {
  padding-bottom: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .aboutAs .secondSection .section {
    padding-top: 0;
  }
}

.aboutAs .secondSection .imgbox {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0;
}

.aboutAs .secondSection .row {
  margin-bottom: 120px !important;
}

.aboutAs .secondSection .row:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (min-width: 320px) and (max-width: 767px) {
  .aboutAs .secondSection .row {
    margin-bottom: 20px !important;
  }
}

.aboutAs .secondSection .row .padTop {
  padding-top: 20px;
}

.aboutAs .secondSection .row .experienceText {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 0 !important;
}

@media (min-width: 320px) and (max-width: 767px) {
  .aboutAs .secondSection .row .experienceText {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.aboutAs .secondSection .row .experienceText p {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 53px;
  color: #FFFFFF;
  padding-bottom: 0;
  margin-bottom: 0;
}

.aboutAs .secondSection .row .experienceText span {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.aboutAs .secondSection .row .experienceText .expLeft {
  margin-left: -70px;
  border-radius: 80px 0px 80px 80px;
  background-color: #01D957;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 50px;
  margin-top: 45px;
  margin-right: 20px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .aboutAs .secondSection .row .experienceText .expLeft {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 0;
  }
}

.aboutAs .secondSection .row .experienceText .expRight {
  border-radius: 80px 80px 80px 0px;
  background-color: #01D957;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 50px;
  margin-bottom: 25px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .aboutAs .secondSection .row .experienceText .expRight {
    margin-bottom: 0;
  }
}

.aboutAs .secondSection .row .experienceText .lastExp {
  padding-bottom: 25px;
}

.stockExchange .firstSection {
  background-image: url("../images/img-3.png");
  padding-top: 20px;
  background-size: cover;
}

.stockExchange .secondSection .imgbox {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stockExchange .secondSection .row:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.stockExchange .secondSection .row .padTop {
  padding-top: 20px;
}

.stockExchange .questions {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .stockExchange .questions {
    width: 90%;
  }
}

.stockExchange .questions .name {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.075em;
  color: #D2D2D2;
  padding: 0;
  margin-bottom: 20px;
}

.stockExchange .questions h3 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #000000;
  position: relative;
  margin-bottom: 60px;
}

.stockExchange .questions .accordion .accordion-item {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #DFDFDF;
}

.stockExchange .questions .accordion .accordion-item .accordion-header .accordion-button {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #1D1B1B;
}

.stockExchange .questions .accordion .accordion-item .accordion-header .accordion-button::after {
  content: '+';
  background-image: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #01D957;
  font-size: 28px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.stockExchange .questions .accordion .accordion-item .accordion-header .accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

.stockExchange .questions .accordion .accordion-item .accordion-header .collapsed::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.stockExchange .questions .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.stockExchange .questions .accordion .accordion-item .accordion-collapse .accordion-body {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #1D1B1B;
  text-align: left;
}

.cryptocurrency .firstSection {
  background-image: url("../images/img-4.png");
  padding-top: 20px;
  background-size: cover;
}

.cryptocurrency .secondSection .imgbox {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cryptocurrency .secondSection .row:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.cryptocurrency .secondSection .row .padTop {
  padding-top: 20px;
}

.cryptocurrency .questions {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}

.cryptocurrency .questions .name {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.075em;
  color: #D2D2D2;
  padding: 0;
  margin-bottom: 20px;
}

.cryptocurrency .questions h3 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #000000;
  position: relative;
  margin-bottom: 60px;
}

.cryptocurrency .questions .accordion .accordion-item {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #DFDFDF;
}

.cryptocurrency .questions .accordion .accordion-item .accordion-header .accordion-button {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #1D1B1B;
}

.cryptocurrency .questions .accordion .accordion-item .accordion-header .accordion-button::after {
  content: '+';
  background-image: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #01D957;
  font-size: 28px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.cryptocurrency .questions .accordion .accordion-item .accordion-header .accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

.cryptocurrency .questions .accordion .accordion-item .accordion-header .collapsed::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.cryptocurrency .questions .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cryptocurrency .questions .accordion .accordion-item .accordion-collapse .accordion-body {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #1D1B1B;
  text-align: left;
}

.contact .row {
  padding-left: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .contact .row .contImage {
    display: none;
  }
}

.contact .row .contImage .imgbox {
  background-image: url("../images/img-contact.png");
  background-size: cover;
  height: 100%;
}

.contact .row .contImage .imgbox .breadcrumb {
  padding-top: 20px;
  padding-left: 100px;
}

.contact .row .contactFormBox {
  padding-left: 50px;
  padding-top: 55px;
  margin-bottom: 70px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .contact .row .contactFormBox {
    padding-top: 40px;
    margin-bottom: 20px;
  }
}

@media (min-width: 320px) and (max-width: 1023px) {
  .contact .row .contactFormBox {
    padding-left: 0%;
  }
}

.contact .row .contactFormBox h3 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #000000;
  position: relative;
  padding-left: 70px;
  margin-bottom: 80px;
}

.contact .row .contactFormBox h3::before {
  content: '';
  border: 1px solid #01D957;
  background-color: #01D957;
  height: 1px;
  width: 52px;
  position: absolute;
  top: 16px;
  left: 0;
}

.contact .row .contactFormBox .adress {
  margin: 0;
  margin-bottom: 90px !important;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .contact .row .contactFormBox .adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px !important;
  }
}

.contact .row .contactFormBox .adress .col-4 {
  padding-left: 0;
}

.contact .row .contactFormBox .adress .name {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.075em;
  color: #D2D2D2;
  padding: 0;
  margin-bottom: 15px;
  display: block;
}

.contact .row .contactFormBox .adress p {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #1D1B1B;
}

.contact .row .contactFormBox .adress .social a {
  text-decoration: none;
}

.contact .row .contactFormBox .adress .social a .fab {
  color: #01D957;
  border: 1px solid #01D957;
  border-radius: 50%;
  padding: 10px;
  font-size: 16px;
  text-align: center;
}

.contact .row .contactFormBox .adress .social a .fab:hover {
  color: #ffffff;
  background-color: #01D957;
}

.contact .row .contactFormBox .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .row .contactFormBox .form p {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #1D1B1B;
  padding-left: 90px;
  padding-bottom: 30px;
  width: 70%;
  margin-bottom: 0;
  position: relative;
}

.contact .row .contactFormBox .form p::before {
  content: '';
  border: 1px solid #01D957;
  background-color: #01D957;
  height: 1px;
  width: 52px;
  position: absolute;
  top: 10%;
  left: 0;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .contact .row .contactFormBox .form p {
    width: 100%;
  }
}

.contact .row .contactFormBox .form input {
  width: 70%;
  background: #FBFBFB;
  border: 1px solid #EEEDED;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #1D1B1B;
  padding: 15px;
}

.contact .row .contactFormBox .form input::-webkit-input-placeholder {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #1D1B1B;
}

.contact .row .contactFormBox .form input:-ms-input-placeholder {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #1D1B1B;
}

.contact .row .contactFormBox .form input::-ms-input-placeholder {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #1D1B1B;
}

.contact .row .contactFormBox .form input::placeholder {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #1D1B1B;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .contact .row .contactFormBox .form input {
    width: 100%;
  }
}

.contact .row .contactFormBox .form .submit {
  margin-top: 5px;
  background: #01D957;
  border-radius: 27px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.copyrightsText {
  padding: 50px 0;
}

.copyrightsText h2 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 20px;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 768px) {
  .copyrightsText h2 {
    font-size: 24px;
  }
}

.copyrightsText p {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 35px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .copyrightsText p {
    font-size: 12px;
  }
}

footer {
  padding: 15px 0;
  background-color: #F8F8F8;
}

footer .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 320px) and (max-width: 767px) {
  footer .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .row a {
    display: block;
    text-align: center;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  footer .row .footerNav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

footer .row .footerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  footer .row .footerNav ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  footer .row .footerNav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .row .footerNav ul li {
  padding: 0 20px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  footer .row .footerNav ul li {
    padding: 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  footer .row .footerNav ul li {
    padding: 20px 0;
  }
}

footer .row .footerNav ul li a {
  text-decoration: none;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #1D1B1B;
}

footer .row .footerNav ul li a:hover {
  color: #01D957;
}

footer .row .social {
  text-align: right;
}

@media (min-width: 320px) and (max-width: 767px) {
  footer .row .social {
    text-align: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 20px 0;
  }
}

footer .row .social a {
  text-decoration: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  footer .row .social a {
    display: inline-block;
  }
}

footer .row .social a .fab {
  color: #01D957;
  border: 1px solid #01D957;
  border-radius: 50%;
  padding: 10px;
  font-size: 16px;
  text-align: center;
}

footer .row .social a .fab:hover {
  color: #ffffff;
  background-color: #01D957;
}

footer .copyrights {
  margin-top: 40px;
  padding: 40px;
  text-align: center;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  color: #6F6E6E;
  border-top: 1px solid #CFCFCF;
}

@media (min-width: 768px) and (max-width: 1023px) {
  footer .copyrights {
    padding: 20px;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=all.css.map */