/***************************************************              GENERAL RESET STYLES             ***************************************************/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

*:focus {
    outline: none;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border-style: none;
    max-width: 100%;
}

form fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

input,
textarea,
select {
    vertical-align: middle;
    color: #000;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

input::-webkit-input-placeholder {
    color: #ebedec;
}

input:focus::-webkit-input-placeholder {
    color: #ebedec;
}

/*@media*/

/* @media (min-width: 1921px){} 													QHD \ UHD
@media (min-width: 1600px) and (max-width: 1919px) {}	HD +
@media (min-width: 1440px) and (max-width: 1599px) {}	macbook
@media (min-width: 1360px) and (max-width: 1439px) {}	HD
@media (min-width: 1280px) and (max-width: 1359px) {} IPAD2
@media (min-width: 1024px) and (max-width: 1279px) {} IPAD
@media (min-width: 896px) and (max-width: 1023px) {}	Ip Xs max horizontal
@media (min-width: 812px) and (max-width: 895px) {}		Ip Xs horizontal
@media (min-width: 768px) and (max-width: 811px) {}		Tablet
@media (min-width: 736px) and (max-width: 767px) {}		Ip 6,7,8 Plus horizontal
@media (min-width: 667px) and (max-width: 735px) {}		Ip 6,7,8 horizontal
@media (min-width: 568px) and (max-width: 666px) {}		Ip 5 horizontal
@media (min-width: 480px) and (max-width: 567px) {}		Ip 4 horizontal
@media (min-width: 414px) and (max-width: 479px) {}		Ip 6,7,8
@media (min-width: 320px) and (max-width: 413px) {}		Ip 4,5 */


.layout {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}

.row    {
    padding: 0 100px;
    max-width: 100%;
    margin: 0!important;
     @media (min-width: 320px) and (max-width: 1279px) {
         padding: 0;
     }
}
header  {
    margin: 0 auto;
    padding: 6px 0;
    box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.08);
    @media (max-width: 768px) {
        padding: 0;
    }
    .row    {
        align-items: center;
        @media (max-width: 768px) {
            
            justify-content: space-between;
        }
        .col-7  {
            @media (max-width: 767px) {
                display: none;
            }
        }
        .col-4, .col-sm-3 {
            @media (max-width: 767px) {
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 0;
            }
            .mobRecall  {
                background-color: #01D957;
                border-radius: 50%;
                border: none;
                padding: 10px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                position: relative;
                z-index: 99;
                .fa-phone-alt {
                    color: white;
                    font-size: 20px;
                }
               @media (min-width: 768px) {
                   display: none;
               }
            }
        }
        .headNav {
            @media (min-width: 320px) and (max-width: 767px) {
                display: none;
            }
            ul  {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-bottom: 0;
                padding-left: 0;
                @media (min-width: 768px) and (max-width: 1023px) {
                    justify-content: space-around;
                }
                li {
                    padding: 0 40px;
                    @media (min-width: 768px) and (max-width: 1023px) {
                        padding: 0 15px;
                    }
                    a {
                        text-decoration: none;
                        font-family: 'Gilroy';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 114.8%;
                        letter-spacing: 0.01em;
                        color: #1D1B1B;
                        &:hover {
                            color: #01D957;
                        }
                    }
                }
            }
        }

        .recall {
            padding: 13px 30px;
            border: none;
            background-color: #01D957;
            color: #ffffff;
            border-radius: 27px;
            float: right;

            font-family: 'Gilroy';
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 114.8%;
            letter-spacing: 0.01em;
            &:hover {
                background-color: #0b8600;
            }
            @media (min-width: 768px) and (max-width: 1023px) {
                padding: 8px 15px;
            }
            @media (min-width: 320px) and (max-width: 767px) {
                display: none;
            }
        }
    }

    .modal-open {
        background: #1B1B1B;
        opacity: 0.9;
    }

    .modal-content {
        width: 100%;
        max-width: 490px;
        background: #FFFFFF;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
        border-radius: 16px;
        padding: 30px 40px;
        opacity: 1;

        .modal-header {
            border: none;

            h5 {
                margin: 0 auto;
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 114.8%;
                /* identical to box height, or 28px */

                letter-spacing: 0.01em;
                text-align: center;
            }
        }

        .btn-close {
            background-image: url('../images/btn-close.png');
            background-size: contain;
            position: absolute;
            top: 0;
            right: -45px;
            width: 32px;
            height: 32px;
            opacity: 1;
        }

        .modal-body {
            border: none;

            form {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;

                input {
                    width: 100%;
                    padding: 15px;
                    margin-bottom: 10px;
                    background: #FBFBFB;
                    border: 1px solid #EEEDED;
                    box-sizing: border-box;
                    border-radius: 4px;

                    font-family: 'Gilroy';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 114.8%;
                    /* identical to box height, or 16px */

                    letter-spacing: 0.01em;
                    &::placeholder {
                        font-family: 'Gilroy';
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 114.8%;
                        /* identical to box height, or 16px */

                        letter-spacing: 0.01em;
                        color: #151515;
                    }
                }
            }

            .btn-primary {
                font-family: Gilroy;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 114.8%;
                /* identical to box height, or 16px */

                letter-spacing: 0.01em;

                color: #FFFFFF;
                background: #11D100;
                border-radius: 41px;
                width: 100%;
                border: none;
                padding: 16px;
                border-color: transparent;

                &:hover {
                    background-color: #0b8600;
                }
            }
        }

        .modal-footer {
            border: none;

            .btn-primary {
                font-family: 'Golca';
                font-style: normal;
                font-weight: bold;
                font-size: 13px;
                line-height: 16px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
                background: #11D100;
                border-radius: 41px;
                width: 100%;
                border: none;
                padding: 16px;
                border-color: transparent;

                &:hover {
                    background-color: #0b8600;
                }
            }
        }
    }

    ////////////////////
    .hamburger-menu {
        z-index: 999;
        // padding-top: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        @media (min-width: 768px) {
            display: none;
        }

        #menu__toggle {
            opacity: 0;
        }

        #menu__toggle:checked~.menu__btn>span {
            transform: rotate(45deg);
            width: 20px;
        }

        #menu__toggle:checked~.menu__btn>span::before {
            top: 0;
            transform: rotate(0);
        }

        #menu__toggle:checked~.menu__btn>span::after {
            top: 0;
            transform: rotate(90deg);

        }

        #menu__toggle:checked~.menu__box {
            visibility: visible;
            right: 0;
        }

        .menu__btn {
            margin-top: 15px;
            display: flex;
            align-items: center;
            position: relative;
            float: right;
            animation-delay: 2s;
            width: 28px;
            height: 26px;
            cursor: pointer;
            z-index: 999;
        }

        .menu__btn>span {
            top: -4px;
            display: block;
            position: absolute;
            border-radius: 4px;
            width: 28px;
            height: 4px;
            background-color: #01D957;
            transition-duration: .25s;

            &::after {
                text-align: right;
                content: '';
                width: 28px;
                display: block;
                position: absolute;
                border-radius: 4px;
                top: 8px;
                right: 0;
                height: 4px;
                background-color: #01D957;
                transition-duration: .25s;
            }

            &::before {
                text-align: right;
                content: '';
                width: 28px;
                display: block;
                position: absolute;
                border-radius: 4px;
                top: -8px;
                right: 0;
                height: 4px;
                background-color: #01D957;
                transition-duration: .25s;
            }
        }



        .menu__box {
            z-index: 99;
            display: block;
            position: fixed;
            visibility: hidden;
            top: 0;
            right: -100%;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;

            list-style: none;
            overflow: scroll;
            background-color: #F2F2F2;


            transition-duration: .25s;

            .head {
                margin-bottom: 120px;
                padding-right: 100px;
                padding-left: 20px;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                .logo   {
                    float: left;
                }
                .mobRecall-1 {
                    background-color: #01D957;
                    border-radius: 50%;
                    border: none;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0;
                    margin-top: 8px;
                    position: relative;
                    z-index: 99;

                    .fa-phone-alt {
                        color: white;
                        font-size: 20px;
                    }
                }
            }

            li {
                text-align: center;
                margin-bottom: 70px;

            }

            .socMob {
                            a {
                                text-decoration: none;

                                .fab {
                                    color: #01D957;
                                    border: 1px solid #01D957;
                                    border-radius: 50%;
                                    padding: 10px;
                                    font-size: 16px;
                                    text-align: center;
                                    margin: 0 10px;
                                    &:hover {
                                        color: #ffffff;
                                        background-color: #01D957;
                                    }
                                }
                            }
            }
        }

        .menu__item {
            text-align: center;
            display: block;
            padding: 0;
            color: #000000;
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 600;
            font-size: 17px;
            line-height: 114.8%;
            text-decoration: none;
            transition-duration: .25s;


        }

        .menu__item:hover {
            color: #11D100;
            transition: 0.5s;
        }


    }
}
main    {
    padding: 0;
    .breadcrumb {
        padding-bottom: 110px;
        margin: 0;

        .breadcrumb-item {
            display: flex;
            align-items: center;

            a {
                text-decoration: none;
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 114.8%;
                letter-spacing: 0.01em;
                color: #ffffff;
            }
        }

        .active {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 114.8%;
            letter-spacing: 0.01em;
            color: #ffffff;

            &::before {
                content: '>';
                color: #ffffff;
            }
        }
    }
    .firstSection   {
        background-image: url('../images/img-1.png');
        background-repeat: no-repeat;
        padding-top: 120px;
        padding-bottom: 120px;
        margin: 0;
        @media (min-width: 320px) and (max-width: 767px) {
            text-align: center;
        }
        h2 {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 600;
            font-size: 50px;
            line-height: 114.8%;
            letter-spacing: 0.01em;
            color: #FFFFFF;
            margin-bottom: 20px;
            @media (min-width: 320px) and (max-width: 767px) {
                font-size: 24px;
                text-align: center;
            }
        }
        p {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 114.8%;
            letter-spacing: 0.01em;
            color: #FFFFFF;
            width: 50%;
            margin-bottom: 35px;
            @media (min-width: 320px) and (max-width: 767px) {
                font-size: 12px;
                text-align: center;
                width: 80%;
                margin: 0 auto;
                margin-bottom: 20px;
            }
        }
        .more {
            padding: 16px 30px;
            border: none;
            background-color: #01D957;
            color: #ffffff;
            border-radius: 27px;

            font-family: 'Gilroy';
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 114.8%;
            letter-spacing: 0.01em;
            &:hover {
                background-color: #0b8600;
            }
            @media (min-width: 320px) and (max-width: 767px) {
                width: 80%;
                margin: 0 auto;
            }
        }
    }
    .secondSection  {

        background-image: url('../images/img-bg.png');
        background-repeat: no-repeat;
        background-position: left 50%;
        section {
            display: block;
            position: relative;
            padding-top: 100px;
            padding-bottom: 80px;
            @media (min-width: 320px) and (max-width: 767px) {
                padding-top: 0;
            }
        }
        #services   {
            padding-bottom: 130px;
            @media (min-width: 320px) and (max-width: 767px) {
                padding-bottom: 80px;

            }
            h3  {
                padding-left: 80px;
                &::before   {
                    left: 0;
                    
                }
                
            }
        }
        .name   {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 900;
            font-size: 14px;
            line-height: 114.8%;
            letter-spacing: 0.075em;
            color: #D2D2D2;
            padding: 0;
            display: inline-block;
            margin-bottom: 15px;
        }
        h3 {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 114.8%;
            letter-spacing: 0.01em;
            color: #000000;
            position: relative;
            padding-bottom: 25px;
            &::before {
                content: '';
                border: 1px solid #01D957;
                background-color: #01D957;
                height: 1px;
                width: 52px;
                position: absolute;
                top: 16px;
                left: -80px;
                @media (min-width: 320px) and (max-width: 767px) {
                    left: 0;
                    top: 12px;
                }
            }

            @media (min-width: 320px) and (max-width: 767px) {
                font-size: 24px;
                padding-left: 70px;

            }
            .green  {
                color: #01D957;
                text-decoration: none;
            }
        }

        p {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 114.8%;
            letter-spacing: 0.01em;
            color: #1D1B1B;
            padding-bottom: 30px;
            margin-bottom: 0;
        }
        .textLeft   {
            padding-left: 80px;
            align-self: center;
            @media (min-width: 320px) and (max-width: 767px) {
                padding-left: 10px;
                padding-top: 40px;
            }
            .imgbox {
                margin-bottom: 30px;
                padding: 0;
                justify-content: center;
                @media (min-width: 992px) {
                    display: none;
                }
            }
            .more {
                padding: 16px 40px;
                border: none;
                background-color: #01D957;
                color: #ffffff;
                border-radius: 27px;
                margin-top: 10px;

                display: inline-block;
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 114.8%;
                letter-spacing: 0.01em;
                text-decoration: none;
                &:hover {
                    background-color: #0b8600;
                }
            }
        }
        .textRight  {
            @media (min-width: 320px) and (max-width: 991px) {
                display: none;
            }
            
        }
        .imgbox {
            position: relative;
            display: flex;
            // justify-content: center;
            width: 100%;
            padding: 20px 0 0 20px;
            
            .firstImg   {
                position: relative;
                z-index: 1;
                display: block;
                float: right;
            }
            // .secondImg  {
            //     position: absolute;
            //     z-index: 2;
            //     right: 0;
            //     margin-top: 43%;
            //     width: 45%;
            // }
        }
        .box    {
            background: #FFFFFF;
            box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.08);
            border-radius: 14px;
            padding: 30px;
            background-repeat: no-repeat;
            background-position: right 20px;
            @media (min-width: 320px) and (max-width: 767px) {
                display: flex;
                flex-direction: column;
                padding-top: 220px;
            }
            h4 {
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 114.8%;
                letter-spacing: 0.01em;
                padding-top: 18%;
                margin-bottom: 20px;
                color: #01D957;
            }
            p {
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 114.8%;
                letter-spacing: 0.01em;
                color: #1D1B1B;
                width: 75%;
                @media (min-width: 320px) and (max-width: 767px) {
                    width: 100%;
                    padding-bottom: 10px;
                }
            }
            .imgbox {
                padding-left: 0;
                @media (min-width: 320px) and (max-width: 767px) {
                    order: 1;
                    img {

                        margin: 0 auto;
                    }
                }
            }
        }
        .left   {
            background-image: url('../images/img-man.png');
            background-position: 88% 30px;
            @media (min-width: 320px) and (max-width: 767px) {
                background-position: center 20px;
            }
        }
        .right  {
            background-image: url('../images/img-coins.png');
            background-position: 95% 30px;
            @media (min-width: 320px) and (max-width: 767px) {
                background-position: center 20px;
            }
        }
    }
    .formBg {
        background-color: #F8F8F8;
        padding: 75px 100px;
        max-width: 100%;
        @media (min-width: 1024px) and (max-width: 1280px) {
            padding: 75px 50px;
        }
        @media (min-width: 320px) and (max-width: 1023px) {
            padding: 20px;
        }
        .formBox {
            background-image: url('../images/form-Bg.png');
            background-repeat: no-repeat;
            background-position: right center;

            @media (min-width: 320px) and (max-width: 1023px) {
                background-position: 0 0;
                background-size: contain;
                padding-top: 70%;
            }
            .form {
                width: 50%;
                padding-left: 90px;
                display: flex;
                flex-direction: column;
                @media (min-width: 1024px) and (max-width: 1280px) {
                    padding-left: 0;
                }
                @media (min-width: 320px) and (max-width: 1023px) {
                    width: 100%;
                    padding-left: 0;
                }
                h3 {
                    font-family: 'Gilroy';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 114.8%;
                    letter-spacing: 0.01em;
                    color: #000000;
                    position: relative;
                    margin-bottom: 30px;
                    &::before {
                        content: '';
                        border: 1px solid #01D957;
                        background-color: #01D957;
                        height: 1px;
                        width: 52px;
                        position: absolute;
                        top: 16px;
                        left: -80px;
                        @media (min-width: 320px) and (max-width: 1023px) {
                            left: 0;
                            top: 12px;
                        }
                    }
                    @media (min-width: 768px) and (max-width: 1023px) {
                        padding-left: 70px;

                    }
                    @media (min-width: 320px) and (max-width: 767px) {
                        font-size: 24px;
                        padding-left: 70px;

                    }
                }

                p {
                    font-family: 'Gilroy';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 114.8%;
                    letter-spacing: 0.01em;
                    color: #1D1B1B;
                    padding-bottom: 20px;
                    width: 55%;
                    margin-bottom: 0;
                    @media (min-width: 768px) and (max-width: 1023px) {
                        width: 50%;
                        padding-left: 70px;
                    }
                    @media (min-width: 320px) and (max-width: 767px) {
                        width: 100%;
                        font-size: 12px;
                        padding-left: 70px;
                    }
                }

                input {
                    width: 60%;
                    background: #FBFBFB;
                    border: 1px solid #EEEDED;
                    box-sizing: border-box;
                    border-radius: 4px;
                    margin-bottom: 10px;
                    font-family: 'Gilroy';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 114.8%;
                    letter-spacing: 0.01em;
                    color: #1D1B1B;
                    padding: 15px;

                    &::placeholder {
                        font-family: 'Gilroy';
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 114.8%;
                        letter-spacing: 0.01em;
                        color: #1D1B1B;
                    }
                    @media (min-width: 768px) and (max-width: 1023px) {
                        width: 50%;
                        margin: auto;
                        margin-bottom: 10px;
                    }
                    @media (min-width: 320px) and (max-width: 767px) {
                        width: 100%;

                    }
                }

                .submit {
                    margin-top: 5px;
                    background: #01D957;
                    border-radius: 27px;
                    font-family: 'Gilroy';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 114.8%;
                    letter-spacing: 0.01em;
                    color: #FFFFFF;
                    @media (min-width: 768px) and (max-width: 1023px) {
                        width: 50%;
                        margin: auto;
                        margin-bottom: 20px;
                    }
                    @media (min-width: 320px) and (max-width: 767px) {
                        width: 100%;
                        margin-bottom: 20px;
                    }
                }
            }

            .text {
                padding-left: 90px;
                width: 50%;
                @media (min-width: 1024px) and (max-width: 1280px) {
                   padding-left: 0;
                }
                @media (min-width: 320px) and (max-width: 767px) {
                    width: 100%;
                    padding-left: 0;
                    margin-bottom: 40px;
                }
                p {
                    font-family: 'Gilroy';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 114.8%;
                    letter-spacing: 0.01em;
                    color: #1D1B1B;
                    padding-bottom: 20px;
                    margin-bottom: 0;
                    margin-left: 90px;
                    position: relative;

                    &::before {
                        content: '';
                        border: 1px solid #01D957;
                        background-color: #01D957;
                        height: 1px;
                        width: 52px;
                        position: absolute;
                        top: 25%;
                        left: -80px;
                    }
                }

                .social {
                    margin-left: 90px;

                    a {
                        text-decoration: none;

                        .fab {
                            color: #01D957;
                            border: 1px solid #01D957;
                            border-radius: 50%;
                            padding: 10px;
                            font-size: 16px;
                            text-align: center;

                            &:hover {
                                color: #ffffff;
                                background-color: #01D957;
                            }
                        }
                    }
                }
            }
        }
    }
}
.aboutAs    {
    .firstSection   {
        background-image: url('../images/img-2.png');
        padding-top: 20px;
        background-size: cover;
        
        .more   {
            display: none;
        }
    }
    .secondSection  {
        padding-top: 80px;
        .section    {
            padding-bottom: 0;
            @media (min-width: 320px) and (max-width: 767px) {
                padding-top: 0;
            }
        }
        .imgbox {
            justify-content: center;
            padding-top: 0;
        }
        .row {
            margin-bottom: 120px!important;
            &:nth-child(2n) {

                flex-direction: row-reverse;

            }
            @media (min-width: 320px) and (max-width: 767px) {
                margin-bottom: 20px!important;
            }
            // .imgboxBG   {
            //     background-image: url('../images/imgBoxAbout-bg.png');
            //     background-repeat: no-repeat;
            //     background-position: center;
            //     background-size: cover;
            //     border-radius: 200px 0px 300px 300px;
            //     overflow: hidden;
            //     height: 750px;
            //     width: 90%;
            // }
            .padTop {
                padding-top: 20px;
            }
            .experienceText {
                flex-direction: row;
                margin-bottom: 0!important;
                @media (min-width: 320px) and (max-width: 767px) {
                    flex-direction: column;
                }
                p {
                    font-family: 'Gilroy';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 44px;
                    line-height: 53px;
                    color: #FFFFFF;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
                span    {
                    font-family: 'Gilroy';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    color: #FFFFFF;
                }
                .expLeft    {
                    margin-left: -70px;
                    border-radius: 80px 0px 80px 80px;
                    background-color: #01D957;
                    display: flex;
                    flex-direction: column;
                    align-self: center;
                    padding: 50px;
                    margin-top: 45px;
                    margin-right: 20px;
                    @media (min-width: 320px) and (max-width: 767px) {
                        margin-top: 20px;
                        margin-bottom: 20px;
                        margin-right: 0;
                        margin-left: 0;
                    }
                }
                .expRight   {
                    border-radius: 80px 80px 80px 0px;
                    background-color: #01D957;
                    display: flex;
                    flex-direction: column;
                    align-self: center;
                    padding: 50px;
                    margin-bottom: 25px;
                    @media (min-width: 320px) and (max-width: 767px) {
                        margin-bottom: 0;
                    }
                }
                .lastExp    {
                    padding-bottom: 25px;
                }
            }
        }
    }
    
}
.stockExchange  {
    .firstSection {
        background-image: url('../images/img-3.png');
        padding-top: 20px;
        background-size: cover;
    }
    .secondSection {
        .imgbox {
            justify-content: center;
            
        }
        .row {

            &:nth-child(2n) {

                flex-direction: row-reverse;

            }



            .padTop {
                padding-top: 20px;
            }

        }
    }
    .questions {
        width: 50%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 100px;
        @media (min-width: 320px) and (max-width: 767px) {
            width: 90%;
            
        }
        .name {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 900;
            font-size: 14px;
            line-height: 114.8%;
            letter-spacing: 0.075em;
            color: #D2D2D2;
            padding: 0;
            margin-bottom: 20px;
        }

        h3 {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 114.8%;
            letter-spacing: 0.01em;
            color: #000000;
            position: relative;
            margin-bottom: 60px;
        }
        .accordion  {

            .accordion-item {
                border: none;
                border-radius: 0;
                border-bottom: 1px solid #DFDFDF;
                

                .accordion-header   {
                    .accordion-button   {
                        font-family: 'Gilroy';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 17px;
                        line-height: 114.8%;
                        letter-spacing: 0.01em;
                        color: #1D1B1B;
                        &::after    {
                            content: '+';
                            background-image: none;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #01D957;
                            font-size: 28px;
                            transform: rotate(-135deg);
                        }
                        &:focus {
                            box-shadow: none;
                            background-color: transparent;
                        }
                    }
                    .collapsed  {
                         &::after {
                            transform: rotate(0deg);
                         }
                    }
                    .accordion-button:not(.collapsed)   {
                        background-color: transparent;
                        box-shadow: none;
                    }
                }
                .accordion-collapse {

                    .accordion-body {
                        font-family: 'Gilroy';
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 114.8%;
                        letter-spacing: 0.01em;
                        color: #1D1B1B;
                        text-align: left;
                    }
                } 

                
            }
        }
    }
}
.cryptocurrency {
    .firstSection {
        background-image: url('../images/img-4.png');
        padding-top: 20px;
        background-size: cover;
    }

    .secondSection {
        .imgbox {
            justify-content: center;
        }
        .row {

            &:nth-child(2n) {

                flex-direction: row-reverse;

            }



            .padTop {
                padding-top: 20px;
            }


        }
    }

    .questions {
        width: 50%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 100px;

        .name {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 900;
            font-size: 14px;
            line-height: 114.8%;
            letter-spacing: 0.075em;
            color: #D2D2D2;
            padding: 0;
            margin-bottom: 20px;
        }

        h3 {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 114.8%;
            letter-spacing: 0.01em;
            color: #000000;
            position: relative;
            margin-bottom: 60px;
        }

        .accordion {

            .accordion-item {
                border: none;
                border-radius: 0;
                border-bottom: 1px solid #DFDFDF;


                .accordion-header {
                    .accordion-button {
                        font-family: 'Gilroy';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 17px;
                        line-height: 114.8%;
                        letter-spacing: 0.01em;
                        color: #1D1B1B;

                        &::after {
                            content: '+';
                            background-image: none;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #01D957;
                            font-size: 28px;
                            transform: rotate(-135deg);
                        }

                        &:focus {
                            box-shadow: none;
                            background-color: transparent;
                        }
                    }

                    .collapsed {
                        &::after {
                            transform: rotate(0deg);
                        }
                    }

                    .accordion-button:not(.collapsed) {
                        background-color: transparent;
                        box-shadow: none;
                    }
                }

                .accordion-collapse {

                    .accordion-body {
                        font-family: 'Gilroy';
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 114.8%;
                        letter-spacing: 0.01em;
                        color: #1D1B1B;
                        text-align: left;
                    }
                }


            }
        }
    }
}
.contact    {
    .row    {
        padding-left: 0;
        .contImage  {
             @media (min-width: 320px) and (max-width: 767px) {
                 display: none;
             }
            .imgbox {
                background-image: url('../images/img-contact.png');
                background-size: cover;
                height: 100%;
                .breadcrumb {
                    padding-top: 20px;
                    padding-left: 100px;
                }
            }
        }
        .contactFormBox {
            padding-left: 50px;
            padding-top: 55px;
            margin-bottom: 70px;
             @media (min-width: 768px) and (max-width: 1023px) {
                 padding-top: 40px;
                 margin-bottom: 20px;
             }
             @media (min-width: 320px) and (max-width: 1023px) {
                 padding-left: 0%;
             }
            h3 {
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 600;
                font-size: 32px;
                line-height: 114.8%;
                letter-spacing: 0.01em;
                color: #000000;
                position: relative;
                padding-left: 70px;
                margin-bottom: 80px;
                &::before {
                    content: '';
                    border: 1px solid #01D957;
                    background-color: #01D957;
                    height: 1px;
                    width: 52px;
                    position: absolute;
                    top: 16px;
                    left: 0;
                }
            }

            .adress {
                margin: 0;
                margin-bottom: 90px!important;
                 @media (min-width: 768px) and (max-width: 1023px) {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 40px!important;
                 }
                .col-4  {
                    padding-left: 0;
                }
                .name {
                    font-family: 'Gilroy';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 14px;
                    line-height: 114.8%;
                    letter-spacing: 0.075em;
                    color: #D2D2D2;
                    padding: 0;
                    margin-bottom: 15px;
                    display: block;
                }

                p {
                    font-family: 'Gilroy';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 114.8%;
                    letter-spacing: 0.01em;
                    color: #1D1B1B;
                }
                .social {

                    a {
                        text-decoration: none;

                        .fab {
                            color: #01D957;
                            border: 1px solid #01D957;
                            border-radius: 50%;
                            padding: 10px;
                            font-size: 16px;
                            text-align: center;

                            &:hover {
                                color: #ffffff;
                                background-color: #01D957;
                            }
                        }
                    }
                }
            }
            
            .form {
                // width: 50%;
                // padding-left: 90px;
                display: flex;
                flex-direction: column;
                align-items: center;
                

                p {
                    font-family: 'Gilroy';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 114.8%;
                    letter-spacing: 0.01em;
                    color: #1D1B1B;
                    padding-left: 90px;
                    padding-bottom: 30px;
                    width: 70%;
                    margin-bottom: 0;
                    position: relative;
                    &::before {
                        content: '';
                        border: 1px solid #01D957;
                        background-color: #01D957;
                        height: 1px;
                        width: 52px;
                        position: absolute;
                        top: 10%;
                        left: 0;
                    }
                    @media (min-width: 320px) and (max-width: 1023px) {
                        width: 100%;
                    }
                }

                input {
                    width: 70%;
                    background: #FBFBFB;
                    border: 1px solid #EEEDED;
                    box-sizing: border-box;
                    border-radius: 4px;
                    margin-bottom: 10px;
                    font-family: 'Gilroy';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 114.8%;
                    letter-spacing: 0.01em;
                    color: #1D1B1B;
                    padding: 15px;

                    &::placeholder {
                        font-family: 'Gilroy';
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 114.8%;
                        letter-spacing: 0.01em;
                        color: #1D1B1B;
                    }
                    @media (min-width: 320px) and (max-width: 1023px) {
                        width: 100%;
                    }
                }

                .submit {
                    margin-top: 5px;
                    background: #01D957;
                    border-radius: 27px;
                    font-family: 'Gilroy';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 114.8%;
                    letter-spacing: 0.01em;
                    color: #FFFFFF;
                }
            }
        }
    }
}
.copyrightsText {
    padding: 50px 0;
    h2 {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 114.8%;
        letter-spacing: 0.01em;
        color: #000000;
        margin-bottom: 20px;
        text-align: center;
        @media (min-width: 320px) and (max-width: 768px) {
            font-size: 24px;
        }
    }

    p {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 114.8%;
        letter-spacing: 0.01em;
        color: #000000;
        margin-bottom: 35px;
         @media (min-width: 320px) and (max-width: 768px) {
             font-size: 12px;
         }
    }
}
footer  {
    padding: 15px 0;
    background-color: #F8F8F8;
    .row    {
        align-items: center;
        @media (min-width: 320px) and (max-width: 767px) {
            justify-content: center;
            a {
                display: block;
                text-align: center;
            }

        }
        .footerNav  {
            @media (min-width: 320px) and (max-width: 767px) {
                order: 2;

            }
            ul {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-bottom: 0;
                padding-left: 0;
                @media (min-width: 768px) and (max-width: 1023px) {
                    justify-content: space-between;
                }
                @media (min-width: 320px) and (max-width: 767px) {
                    flex-direction: column;
    
                }
                li {
                    padding: 0 20px;
                    @media (min-width: 768px) and (max-width: 1023px) {
                        padding: 0;
                    }
                    @media (min-width: 320px) and (max-width: 767px) {
                        padding: 20px 0;
                    }
                    a {
                        text-decoration: none;
                        font-family: 'Gilroy';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 114.8%;
                        letter-spacing: 0.01em;
                        color: #1D1B1B;
            
                        &:hover {
                            color: #01D957;
                        }
                    }
                }
            }
        }
        .social {
            text-align: right;
            @media (min-width: 320px) and (max-width: 767px) {
                text-align: center;
                order: 1;
                padding: 20px 0;
            }
            a {
                text-decoration: none;
                @media (min-width: 320px) and (max-width: 767px) {
                    display: inline-block;
                }
                .fab {
                    color: #01D957;
                    border: 1px solid #01D957;
                    border-radius: 50%;
                    padding: 10px;
                    font-size: 16px;
                    text-align: center;
                    &:hover {
                        color: #ffffff;
                        background-color: #01D957;
                    }
                }
            }
        }
    }
    .copyrights {
        margin-top: 40px;
        padding: 40px;
        text-align: center;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 114.8%;
        letter-spacing: 0.01em;
        color: #6F6E6E;
        border-top: 1px solid #CFCFCF;
        @media (min-width: 768px) and (max-width: 1023px) {
            padding: 20px;
            margin-top: 20px;
        }
    }
}