/***************************************************              GENERAL RESET STYLES             ***************************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

*:focus {
  outline: none;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border-style: none;
  max-width: 100%;
}

form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

input, textarea, select {
  vertical-align: middle;
  color: #000;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

input::-webkit-input-placeholder {
  color: #ebedec;
}

input:focus::-webkit-input-placeholder {
  color: #ebedec;
}

/*@media*/
/* @media (min-width: 1921px){} 													QHD \ UHD
@media (min-width: 1600px) and (max-width: 1919px) {}	HD +
@media (min-width: 1440px) and (max-width: 1599px) {}	macbook
@media (min-width: 1360px) and (max-width: 1439px) {}	HD
@media (min-width: 1280px) and (max-width: 1359px) {} IPAD2
@media (min-width: 1024px) and (max-width: 1279px) {} IPAD
@media (min-width: 896px) and (max-width: 1023px) {}	Ip Xs max horizontal
@media (min-width: 812px) and (max-width: 895px) {}		Ip Xs horizontal
@media (min-width: 768px) and (max-width: 811px) {}		Tablet
@media (min-width: 736px) and (max-width: 767px) {}		Ip 6,7,8 Plus horizontal
@media (min-width: 667px) and (max-width: 735px) {}		Ip 6,7,8 horizontal
@media (min-width: 568px) and (max-width: 666px) {}		Ip 5 horizontal
@media (min-width: 480px) and (max-width: 567px) {}		Ip 4 horizontal
@media (min-width: 414px) and (max-width: 479px) {}		Ip 6,7,8
@media (min-width: 320px) and (max-width: 413px) {}		Ip 4,5 */
/*@media end*/
/* wrapper */
.row {
  padding: 0 100px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .row {
    padding: 0 5%;
  }
}

header {
  max-width: 1440px;
  width: 100%;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}

header .hamburger-menu {
  z-index: 999;
}

@media (min-width: 768px) {
  header .hamburger-menu {
    display: none;
  }
}

header .hamburger-menu #menu__toggle {
  opacity: 0;
}

header .hamburger-menu #menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 20px;
}

header .hamburger-menu #menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

header .hamburger-menu #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

header .hamburger-menu #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

header .hamburger-menu .menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  float: right;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 999;
}

header .hamburger-menu .menu__btn > span {
  top: -4px;
  display: block;
  position: absolute;
  border-radius: 4px;
  width: 32px;
  height: 4px;
  background-color: #000000;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

header .hamburger-menu .menu__btn > span::after {
  text-align: right;
  content: '';
  width: 20px;
  display: block;
  position: absolute;
  border-radius: 4px;
  top: 8px;
  right: 0;
  height: 4px;
  background-color: #000000;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

header .hamburger-menu .menu__box {
  z-index: 99;
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 40px 0;
  list-style: none;
  overflow: scroll;
  background-color: #F2F2F2;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

header .hamburger-menu .menu__box li {
  text-align: center;
}

header .hamburger-menu .menu__box button {
  margin: 10px auto;
  padding: 16px 20px;
  background: #11D100;
  border-radius: 41px;
  border: none;
  font-family: 'Golca';
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

header .hamburger-menu .menu__item {
  text-align: center;
  display: block;
  padding: 14px 0;
  color: #000000;
  font-family: 'Golca';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  text-decoration: none;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

header .hamburger-menu .menu__item:hover {
  color: #FF3300;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .modal-open {
  background: #1B1B1B;
  opacity: 0.9;
}

header .modal-content {
  width: 100%;
  max-width: 490px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 30px 40px;
  opacity: 1;
}

header .modal-content .modal-header {
  border: none;
}

header .modal-content .modal-header h5 {
  margin: 0 auto;
  font-family: 'Golca';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #151515;
  text-align: center;
}

header .modal-content .btn-close {
  background-image: url("../images/btn-close.png");
  position: absolute;
  top: 0;
  right: -45px;
  width: 23px;
  height: 23px;
  opacity: 1;
}

header .modal-content .modal-body {
  border: none;
}

header .modal-content .modal-body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .modal-content .modal-body form input {
  width: 100%;
  padding: 15px 0;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #E8E8E8;
}

header .modal-content .modal-body form input::-webkit-input-placeholder {
  font-family: 'Golca';
  font-style: normal;
  font-weight: 350;
  font-size: 15px;
  line-height: 18px;
  color: #151515;
}

header .modal-content .modal-body form input:-ms-input-placeholder {
  font-family: 'Golca';
  font-style: normal;
  font-weight: 350;
  font-size: 15px;
  line-height: 18px;
  color: #151515;
}

header .modal-content .modal-body form input::-ms-input-placeholder {
  font-family: 'Golca';
  font-style: normal;
  font-weight: 350;
  font-size: 15px;
  line-height: 18px;
  color: #151515;
}

header .modal-content .modal-body form input::placeholder {
  font-family: 'Golca';
  font-style: normal;
  font-weight: 350;
  font-size: 15px;
  line-height: 18px;
  color: #151515;
}

header .modal-content .modal-body .btn-primary {
  font-family: 'Golca';
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #11D100;
  border-radius: 41px;
  width: 100%;
  border: none;
  padding: 16px;
  border-color: transparent;
}

header .modal-content .modal-footer {
  border: none;
}

header .modal-content .modal-footer .btn-primary {
  font-family: 'Golca';
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #11D100;
  border-radius: 41px;
  width: 100%;
  border: none;
  padding: 16px;
  border-color: transparent;
}

header .col {
  padding: 15px 0;
}

header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

header .left .logo {
  padding-right: 15px;
}

header .left .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .left .title a {
  text-decoration: none;
}

header .left .title h1 {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Golca';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #151515;
}

header .left .title h1::after {
  content: 'on';
  color: #11D100;
}

@media (max-width: 1200px) {
  header .left .title h1 {
    font-size: 20px;
  }
}

header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 768px) {
  header .right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

header .right nav {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 10px;
}

header .right nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

@media (max-width: 1200px) {
  header .right nav ul {
    margin-bottom: 0;
  }
}

header .right nav ul li {
  padding: 13px 0 0 0;
  margin: 0 38px;
}

@media (max-width: 1200px) {
  header .right nav ul li {
    padding: 0;
  }
}

header .right nav ul li a {
  text-decoration: none;
  font-family: 'Golca';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #151515;
}

@media (max-width: 1200px) {
  header .right nav ul li a {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  header .right nav {
    display: none;
  }
}

header .right .button button {
  width: 221px;
  padding: 16px 20px;
  background: #11D100;
  border-radius: 41px;
  border: none;
  font-family: 'Golca';
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (max-width: 1200px) {
  header .right .button button {
    font-size: 10px;
    width: 170px;
    padding: 10px 16px;
  }
}

@media (max-width: 768px) {
  header .right .button {
    display: none;
  }
}

main {
  display: block;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

main .bredcrumbs {
  margin: 20px 0 30px 0;
  padding: 0 90px;
}

main .bredcrumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

main .bredcrumbs ul li {
  padding: 0 10px;
}

main .bredcrumbs ul li:first-child {
  padding-left: 0;
}

main .bredcrumbs ul li a {
  text-decoration: none;
  font-family: 'Golca';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #151515;
}

main .map {
  padding: 0;
}

main .map .col {
  padding: 0;
}

main .search-form {
  margin: 0 auto 70px;
  padding: 0;
}

main .search-form .search {
  margin-top: -56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 30px 40px;
}

@media (max-width: 992px) {
  main .search-form .search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -30%;
  }
}

main .search-form .search .form-select {
  padding: 0;
  margin-top: -10px;
  margin-right: 40px;
  border: none;
  border-bottom: 1px solid #E8E8E8;
}

@media (max-width: 992px) {
  main .search-form .search .form-select {
    margin: 10px 0;
  }
}

main .search-form .search .found {
  background: #11D100;
  border-radius: 62px;
  border: none;
  padding: 16px 52px;
  font-family: 'Golca';
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (max-width: 992px) {
  main .search-form .search .found {
    margin: 0 auto;
    padding: 12px 32px;
    max-width: 50%;
  }
}

@media (max-width: 500px) {
  main .search-form .search .found {
    margin: 0 auto;
    padding: 12px 32px;
    max-width: 100%;
  }
}

main .card-container {
  padding: 0 20px;
}

main .card-container a {
  text-decoration: none;
}

main .card-container .card {
  border: transparent;
  margin-bottom: 45px;
}

main .card-container .card .imgbox {
  border: transparent;
  margin-bottom: 20px;
}

main .card-container .card .imgbox img {
  width: 100%;
}

main .card-container .card .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

main .card-container .card .price span {
  font-family: 'Golca';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #151515;
}

main .card-container .card .price .sale {
  font-family: 'Golca';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #11D100;
}

main .card-container .card .region {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

main .card-container .card .region p {
  font-family: 'Golca';
  font-style: normal;
  font-weight: 350;
  font-size: 15px;
  line-height: 18px;
  /* Dark */
  color: #151515;
}

main .card-container .card .region p img {
  margin-right: 10px;
}

main .card-container .card .area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .card-container .card .area span {
  font-family: 'Golca';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  /* Dark */
  color: #151515;
}

main .card-container .card .area span img {
  margin-right: 10px;
}

main button {
  display: block;
  position: relative;
  margin: 15px auto 100px;
  padding: 16px 55px;
  background: #11D100;
  border-radius: 41px;
  border: none;
  font-family: 'Golca';
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

main .page-sale h2 {
  padding: 0;
  font-family: 'Golca';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 50px;
  color: #151515;
}

main .page-sale .sidebar .search {
  max-width: 280px;
  width: 100%;
  background: #F9F9F9;
  border: 1px solid #ECECEC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 15px 30px;
}

main .page-sale .sidebar .search section {
  padding-bottom: 20px;
}

main .page-sale .sidebar .search section p {
  margin-bottom: 0;
}

main .page-sale .sidebar .search section .form-select {
  border: none;
  border-bottom: 1px solid #E8E8E8;
  background-color: transparent;
  font-family: 'Golca';
  font-style: normal;
  font-weight: 350;
  font-size: 15px;
  line-height: 18px;
  color: #151515;
  padding: 15px 0;
}

main .page-sale .sidebar .search section input {
  border: none;
  border-bottom: 1px solid #E8E8E8;
  padding: 15px 0;
  background-color: transparent;
}

main .page-sale .sidebar .search section input::-webkit-input-placeholder {
  font-family: 'Golca';
  font-style: normal;
  font-weight: 350;
  font-size: 15px;
  line-height: 18px;
  color: #757575;
}

main .page-sale .sidebar .search section input:-ms-input-placeholder {
  font-family: 'Golca';
  font-style: normal;
  font-weight: 350;
  font-size: 15px;
  line-height: 18px;
  color: #757575;
}

main .page-sale .sidebar .search section input::-ms-input-placeholder {
  font-family: 'Golca';
  font-style: normal;
  font-weight: 350;
  font-size: 15px;
  line-height: 18px;
  color: #757575;
}

main .page-sale .sidebar .search section input::placeholder {
  font-family: 'Golca';
  font-style: normal;
  font-weight: 350;
  font-size: 15px;
  line-height: 18px;
  color: #757575;
}

main .page-sale .sidebar .search .sale-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .page-sale .sidebar .search .sale-btn .found {
  background: #11D100;
  border-radius: 62px;
  padding: 16px 85px;
  color: #ffffff;
  font-family: 'Golca';
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

main .page-sale .sidebar .search .sale-btn .reset {
  border: 1px solid #11D100;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 62px;
  font-family: 'Golca';
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #11D100;
  padding: 16px 72px;
}

main .page-sale .card-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  padding: 0 20px;
}

main .page-sale .card-container a {
  text-decoration: none;
}

main .page-sale .card-container:first-child {
  padding-left: 10px;
}

main .page-sale .card-container:last-child {
  padding-right: 0;
}

main .page-sale .card-container .card {
  margin-bottom: 63px;
}

main .page-sale .card-container .card .region {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

main .page-sale .card-container .card .region p {
  font-family: 'Golca';
  font-style: normal;
  font-weight: 350;
  font-size: 15px;
  line-height: 18px;
  /* Dark */
  color: #151515;
}

main .page-sale .card-container .card .region p img {
  margin-right: 10px;
}

main .page-sale .card-container .card .area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .page-sale .card-container .card .area span {
  font-family: 'Golca';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  /* Dark */
  color: #151515;
}

main .page-sale .card-container .card .area span img {
  margin-right: 10px;
}

main .page-sale button {
  display: block;
  position: relative;
  margin: 5px auto 100px;
  padding: 16px 55px;
  background: #11D100;
  border-radius: 41px;
  border: none;
  font-family: 'Golca';
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

main .page-sale-card .content {
  margin-bottom: 100px;
}

main .page-sale-card .content .right {
  padding-left: 20px;
}

main .page-sale-card .number {
  font-family: 'Golca';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #B7B7B7;
  margin-bottom: 30px;
}

main .page-sale-card .name {
  font-family: 'Golca';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #151515;
  margin-bottom: 30px;
}

main .page-sale-card .region {
  font-family: 'Golca';
  font-style: normal;
  font-weight: 350;
  font-size: 15px;
  line-height: 18px;
  color: #151515;
  margin-bottom: 30px;
}

main .page-sale-card .region img {
  padding-right: 10px;
}

main .page-sale-card .region p {
  margin-bottom: 0;
}

main .page-sale-card .area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
  padding-right: 0;
}

main .page-sale-card .area span {
  margin-right: 30px;
  margin-bottom: 20px;
}

main .page-sale-card .area span:last-child {
  margin-right: 0;
}

main .page-sale-card .area span img {
  padding-right: 10px;
}

main .page-sale-card .price {
  font-family: 'Golca';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* Green */
  color: #11D100;
  margin-bottom: 30px;
}

main .page-sale-card .buy {
  background: #11D100;
  border-radius: 62px;
  border: none;
  margin-left: 10px;
  padding: 16px 80px;
  max-width: 220px;
  margin-bottom: 30px;
}

main .page-sale-card .description {
  position: relative;
}

main .page-sale-card .description p {
  font-family: 'Golca';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 0;
  margin-bottom: 20px;
  color: #151515;
}

main .page-sale-card .description span {
  font-family: 'Golca';
  font-style: normal;
  font-weight: 350;
  font-size: 15px;
  line-height: 0;
  color: #151515;
}

main .page-sale-card .row-slider {
  padding-right: 0;
  margin-bottom: 65px;
}

main .page-sale-card .row-slider h3 {
  font-family: 'Golca';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  padding: 0;
  color: #151515;
  margin-bottom: 35px;
}

main .page-sale-card .row-slider .slider {
  padding: 0;
  height: auto;
}

main .page-sale-card .row-slider .slider li {
  margin-right: 15px;
}

main .page-sale-card .row-slider .slider li:last-child {
  margin-right: 0;
}

main .page-sale-card .row-slider .slider li img {
  width: 100%;
}

main .new-announcement h3 {
  padding: 0;
  font-family: 'Golca';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #151515;
  margin-bottom: 40px;
}

main .new-announcement .card-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  padding: 0 20px;
  margin-bottom: 50px;
}

main .new-announcement .card-container a {
  text-decoration: none;
}

main .new-announcement .card-container:first-child {
  padding-left: 0;
}

main .new-announcement .card-container:last-child {
  padding-right: 0;
}

main .new-announcement .card-container .card .region {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

main .new-announcement .card-container .card .region p {
  font-family: 'Golca';
  font-style: normal;
  font-weight: 350;
  font-size: 15px;
  line-height: 18px;
  /* Dark */
  color: #151515;
}

main .new-announcement .card-container .card .region p img {
  margin-right: 10px;
}

main .new-announcement .card-container .card .area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .new-announcement .card-container .card .area span {
  font-family: 'Golca';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  /* Dark */
  color: #151515;
}

main .new-announcement .card-container .card .area span img {
  margin-right: 10px;
}

footer {
  max-width: 1440px;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 25px 0 50px;
  background: #151515;
}

footer a {
  text-decoration: none;
}

footer .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

@media (max-width: 575px) {
  footer .left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .left .logo {
  padding-right: 15px;
}

footer .left .logo img {
  background-color: white;
  border-radius: 50%;
  border: none;
  width: auto;
  max-width: 100%;
}

footer .left .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 7px;
}

footer .left .title h1 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: 'Golca';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

footer .left .title h1::after {
  content: 'on';
  color: #11D100;
}

@media (max-width: 1200px) {
  footer .left .title h1 {
    font-size: 20px;
  }
}

footer .left .copiryght {
  font-family: 'Golca';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #A3A3A3;
}

footer .center {
  padding: 0;
}

footer .center nav {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer .center nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0 0 80px;
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  footer .center nav ul {
    padding-left: 20px;
  }
}

@media (max-width: 900px) {
  footer .center nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 575px) {
  footer .center nav ul {
    padding-left: 0;
  }
}

footer .center nav ul li {
  padding: 0 90px 0 0;
}

@media (max-width: 1200px) {
  footer .center nav ul li {
    padding-right: 30px;
  }
}

@media (max-width: 900px) {
  footer .center nav ul li {
    padding: 10px 0;
  }
}

footer .center nav ul li a {
  font-family: 'Golca';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 1200px) {
  footer .center nav ul li a {
    font-size: 14px;
  }
}

footer .center nav ul .btn {
  padding: 0;
}

footer .center nav ul .btn button {
  padding: 0;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-family: 'Golca';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
}

@media (max-width: 1200px) {
  footer .center nav ul .btn button {
    font-size: 14px;
  }
}

footer .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
}

@media (max-width: 575px) {
  footer .right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer .right .social {
  padding: 20px 0;
}

footer .right .social .email {
  font-family: 'Golca';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}

footer .right .social .email img {
  margin-right: 10px;
}

@media (max-width: 1200px) {
  footer .right .social .email {
    font-size: 12px;
  }
}

footer .right .social .links {
  position: relative;
}

@media (max-width: 575px) {
  footer .right .social .links {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

footer .right .social .links li {
  float: right;
}

@media (max-width: 575px) {
  footer .right .social .links li {
    float: none;
    display: inline-block;
  }
}

footer .right .social .links li img {
  margin-left: 20px;
}

@media (max-width: 575px) {
  footer .right .social .links li img {
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */