/***************************************************              GENERAL RESET STYLES             ***************************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

*:focus {outline: none;}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
ol, ul {
	list-style: none;
	margin:0;
	padding:0;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
		text-decoration:none;
}
a:hover {
	text-decoration:none;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
img {
	border-style:none;
	max-width:100%;
}
form fieldset {
	margin:0;
	padding:0;
	border:none;
}
input, textarea, select {
	vertical-align:middle;
	color:#000;
	padding:0;
}
input, select {
	vertical-align:middle;
}
input::-webkit-input-placeholder{color:#ebedec;}
input:focus::-webkit-input-placeholder{color:#ebedec;}
/*@media*/

/* @media (min-width: 1921px){} 													QHD \ UHD
@media (min-width: 1600px) and (max-width: 1919px) {}	HD +
@media (min-width: 1440px) and (max-width: 1599px) {}	macbook
@media (min-width: 1360px) and (max-width: 1439px) {}	HD
@media (min-width: 1280px) and (max-width: 1359px) {} IPAD2
@media (min-width: 1024px) and (max-width: 1279px) {} IPAD
@media (min-width: 896px) and (max-width: 1023px) {}	Ip Xs max horizontal
@media (min-width: 812px) and (max-width: 895px) {}		Ip Xs horizontal
@media (min-width: 768px) and (max-width: 811px) {}		Tablet
@media (min-width: 736px) and (max-width: 767px) {}		Ip 6,7,8 Plus horizontal
@media (min-width: 667px) and (max-width: 735px) {}		Ip 6,7,8 horizontal
@media (min-width: 568px) and (max-width: 666px) {}		Ip 5 horizontal
@media (min-width: 480px) and (max-width: 567px) {}		Ip 4 horizontal
@media (min-width: 414px) and (max-width: 479px) {}		Ip 6,7,8
@media (min-width: 320px) and (max-width: 413px) {}		Ip 4,5 */

/*@media end*/

/* wrapper */
// #wrapper {
// 	display:block;
// 	position:relative;
// 	width:100%;
// 	height:100%;
// }
// .container {
// 	margin:0 auto;
// 	position:relative;
// 	max-width:1440px;
// 	width: auto;
// 	padding: 0;
// }
.row {
	padding: 0 100px;

}
header	{
	max-width:1440px;
	width:100%;
	display:block;
	position:relative;
	margin: 0 auto;
	padding: 0;
	.col	{
		padding: 15px 0;
	}
	.left	{
		display: flex;
		justify-content: flex-start;
		.logo	{
			padding-right: 15px;
		}
		.title	{
			display: flex;
			align-items: center;
			h1	{
				text-transform: uppercase;
				font-family: 'Golca';
				font-style: normal;
				font-weight: 500;
				font-size: 24px;
				line-height: 29px;
				color: #151515;
				&::after	{
					content: 'on';
					color:#11D100;
				}
			}
		}
	}
	.right	{
		display: flex;
		justify-content: space-around;
		nav	{
			width: 100%;
			align-self: center;
			ul	{
				display: flex;
				justify-content: space-around;
				align-items: center;
				li	{
					font-family: 'Golca';
					font-style: normal;
					font-weight: 600;
					font-size: 17px;
					line-height: 21px;
					color: #151515;
				}
			}
		}
		.button	{
			position: relative;
			button	{
				width: 221px;
				padding: 16px 20px;
				background: #11D100;
				border-radius: 41px;
				border: none;
				font-family: 'Golca';
				font-style: normal;
				font-weight: bold;
				font-size: 13px;
				line-height: 16px;
				text-align: center;
				text-transform: uppercase;
				color: #FFFFFF;
			}
		}
	}
}
main	{
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	display:block;
	width:100%;
	position:relative;
	.map	{
		padding: 0;
	}
	.form	{
		margin: 0 auto 70px;
		form	{
			margin-top: -56px;
			display: flex;
			justify-content: space-around;
			background: #FFFFFF;
			box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
			border-radius: 16px;
			padding: 32px 40px;
			.form-select	{
				border-bottom: 1px solid #E8E8E8;
				border: none;
			}
			.found	{
				background: #11D100;
				border-radius: 62px;
				border: none;
				padding: 16px 52px;
				font-family: 'Golca';
				font-style: normal;
				font-weight: 800;
				font-size: 13px;
				line-height: 16px;
				text-align: center;
				text-transform: uppercase;
				color: #FFFFFF;
			}
		}
	}
	.col-xxl-3 {
		padding: 0 20px;
		:first-child	{
			padding-left: 0px;
		}
		:last-child		{
			padding-right: 0px;
		}
		.card	{
			border: none;
			margin-bottom: 50px;
			.imgbox	{
				border: none;
				margin-bottom: 20px;
				img	{
					width: 100%;
				}
			}
			.price	{
				display: flex;
				justify-content: space-between;
				margin-bottom: 30px;
				span	{
					font-family: 'Golca';
					font-style: normal;
					font-weight: 500;
					font-size: 18px;
					line-height: 22px;
					color: #151515;
				}
				.sale	{
					font-family: 'Golca';
					font-style: normal;
					font-weight: 600;
					font-size: 18px;
					line-height: 22px;
					text-align: right;
					color: #11D100;
				}
			}
			.region	{
				display: flex;
				justify-content: start;
				margin-bottom: 20px;
			}
			.area	{
				display: flex;
				justify-content: space-between;
			}
		}
	}
	button {
		display: block;
		position: relative;
		margin: 98px auto;
		width: 221px;
		padding: 16px 20px;
		background: #11D100;
		border-radius: 41px;
		border: none;
		font-family: 'Golca';
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		line-height: 16px;
		text-align: center;
		text-transform: uppercase;
		color: #FFFFFF;
	}
}
footer	{
	max-width:1440px;
	display:block;
	width:100%;
	margin: 0 auto;
	padding:0 0 0;
}
