@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?mca9dk');
  src: url('../fonts/icomoon.eot?mca9dk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?mca9dk') format('truetype'),
    url('../fonts/icomoon.woff?mca9dk') format('woff'),
    url('../fonts/icomoon.svg?mca9dk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-marker:before {
  content: "\e900";
  
}

.icon-phone:before {
  content: "\e901";
  
}

.icon-right-arrow:before {
  content: "\e902";
}
