/* SCSS Compiled */
/***************************************************              GENERAL RESET STYLES             ***************************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

*:focus {
  outline: none; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border-style: none;
  max-width: 100%; }

form fieldset {
  margin: 0;
  padding: 0;
  border: none; }

input, textarea, select {
  vertical-align: middle;
  color: #000;
  padding: 0; }

input, select {
  vertical-align: middle; }

input::-webkit-input-placeholder {
  color: #ebedec; }

input:focus::-webkit-input-placeholder {
  color: #ebedec; }

/*@media*/
/* @media (min-width: 1921px){} 													QHD \ UHD
@media (min-width: 1600px) and (max-width: 1919px) {}	HD +
@media (min-width: 1440px) and (max-width: 1599px) {}	macbook
@media (min-width: 1360px) and (max-width: 1439px) {}	HD
@media (min-width: 1280px) and (max-width: 1359px) {} IPAD2
@media (min-width: 1024px) and (max-width: 1279px) {} IPAD
@media (min-width: 896px) and (max-width: 1023px) {}	Ip Xs max horizontal
@media (min-width: 812px) and (max-width: 895px) {}		Ip Xs horizontal
@media (min-width: 768px) and (max-width: 811px) {}		Tablet
@media (min-width: 736px) and (max-width: 767px) {}		Ip 6,7,8 Plus horizontal
@media (min-width: 667px) and (max-width: 735px) {}		Ip 6,7,8 horizontal
@media (min-width: 568px) and (max-width: 666px) {}		Ip 5 horizontal
@media (min-width: 480px) and (max-width: 567px) {}		Ip 4 horizontal
@media (min-width: 414px) and (max-width: 479px) {}		Ip 6,7,8
@media (min-width: 320px) and (max-width: 413px) {}		Ip 4,5 */
/*@media end*/
/*usage  @include font-size(13);*/
/* Brand Colors ------------------------------------------------*/
/* wrapper */
#wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 100%; }

.layout {
  margin: 0 auto;
  position: relative;
  width: 960px; }
  @media (min-width: 320px) and (max-width: 1024px) {
    .layout {
      width: 96%; } }

main {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  color: #555555; }
  main .border {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    outline: 1px dotted #b1b1b1;
    outline-offset: 1px; }

header {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: #3a3d40;
  border-bottom: 5px solid #4a4d50; }
  header .logo {
    float: left;
    overflow: hidden;
    width: 88px;
    height: 32px;
    margin: 32px 0 29px 0; }
    header .logo h1 {
      float: left;
      display: block;
      overflow: hidden; }
      header .logo h1 a {
        float: left;
        display: block;
        overflow: hidden; }
        header .logo h1 a img {
          float: left;
          display: block;
          overflow: hidden; }
      header .logo h1 span {
        display: block;
        width: 1px;
        height: 1px;
        overflow: hidden;
        text-indent: -9999px;
        color: #ffffff; }
  header .mobile-nav .burger-box {
    z-index: 999;
    position: fixed;
    top: 32px;
    right: 20px;
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer; }
    @media (min-width: 768px) {
      header .mobile-nav .burger-box {
        display: none; } }
  header .mobile-nav .burger {
    content: '';
    font-size: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 50%;
    right: 0;
    width: 24px;
    height: 4px;
    background: #d4d4d4;
    -webkit-transition: background 0.3s, top 0.3s, -webkit-transform 0.3s;
    transition: background 0.3s, top 0.3s, -webkit-transform 0.3s;
    -o-transition: background 0.3s, transform 0.3s, top 0.3s;
    transition: background 0.3s, transform 0.3s, top 0.3s;
    transition: background 0.3s, transform 0.3s, top 0.3s, -webkit-transform 0.3s; }
    @media (min-width: 768px) {
      header .mobile-nav .burger {
        display: none; } }
    header .mobile-nav .burger:before {
      position: absolute;
      top: 50%;
      right: 0;
      width: 24px;
      height: 4px;
      background: #d4d4d4;
      -webkit-transition: background 0.3s, top 0.3s, -webkit-transform 0.3s;
      transition: background 0.3s, top 0.3s, -webkit-transform 0.3s;
      -o-transition: background 0.3s, transform 0.3s, top 0.3s;
      transition: background 0.3s, transform 0.3s, top 0.3s;
      transition: background 0.3s, transform 0.3s, top 0.3s, -webkit-transform 0.3s;
      top: -8px;
      right: 0;
      content: ""; }
    header .mobile-nav .burger:after {
      position: absolute;
      top: 50%;
      right: 0;
      width: 24px;
      height: 4px;
      background: #d4d4d4;
      -webkit-transition: background 0.3s, top 0.3s, -webkit-transform 0.3s;
      transition: background 0.3s, top 0.3s, -webkit-transform 0.3s;
      -o-transition: background 0.3s, transform 0.3s, top 0.3s;
      transition: background 0.3s, transform 0.3s, top 0.3s;
      transition: background 0.3s, transform 0.3s, top 0.3s, -webkit-transform 0.3s;
      top: 8px;
      right: 0;
      content: ""; }
  header .mobile-nav .is-open .burger {
    -webkit-transform: translateX(-220px);
    -moz-transform: translateX(-220px);
    -ms-transform: translateX(-220px);
    -o-transform: translateX(-220px);
    transform: translateX(-220px);
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    background: transparent; }
    @media (min-width: 768px) {
      header .mobile-nav .is-open .burger {
        display: none; } }
    header .mobile-nav .is-open .burger:before {
      top: 0;
      -webkit-transform: rotateZ(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotateZ(-45deg); }
    header .mobile-nav .is-open .burger:after {
      top: 0;
      -webkit-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
      transform: rotateZ(45deg); }
  header .mobile-nav .sliding-panel-content {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: auto;
    height: 100%;
    width: 220px;
    -webkit-transform: translateX(220px);
    -moz-transform: translateX(220px);
    -ms-transform: translateX(220px);
    -o-transform: translateX(220px);
    transform: translateX(220px);
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    background-color: #3a3d40;
    z-index: 998;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; }
    @media (min-width: 768px) {
      header .mobile-nav .sliding-panel-content {
        display: none; } }
    header .mobile-nav .sliding-panel-content ul {
      padding: 0;
      margin: 0;
      color: #d4d4d4; }
      header .mobile-nav .sliding-panel-content ul li {
        list-style: none;
        background-color: #3a3d40; }
        header .mobile-nav .sliding-panel-content ul li:first-child {
          margin-top: 20px; }
        header .mobile-nav .sliding-panel-content ul li a {
          font-family: 'Aller';
          font-weight: bold;
          font-style: normal;
          font-size: 12px;
          text-transform: uppercase;
          color: #d4d4d4;
          display: block;
          font-weight: bold;
          padding: 1em;
          text-decoration: none; }
    header .mobile-nav .sliding-panel-content.is-visible {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); }
  header .mobile-nav .sliding-panel-fade-screen {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    -o-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    background: black;
    opacity: 0;
    visibility: hidden;
    z-index: 997; }
    @media (min-width: 768px) {
      header .mobile-nav .sliding-panel-fade-screen {
        display: none; } }
    header .mobile-nav .sliding-panel-fade-screen.is-visible {
      opacity: 0.4;
      visibility: visible; }
  header .mobile-nav .sliding-panel-button {
    padding: 10px 16px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    outline: none; }
    @media (min-width: 768px) {
      header .mobile-nav .sliding-panel-button {
        display: none; } }
    header .mobile-nav .sliding-panel-button img {
      height: 1.3em; }
  header .nav {
    float: right; }
    @media (min-width: 320px) and (max-width: 767px) {
      header .nav {
        display: none; } }
    header .nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      header .nav ul li {
        float: left;
        margin: 0 1px 0 0;
        padding: 51px 19px 33px 19px;
        font-family: 'Aller';
        font-weight: bold;
        font-style: normal;
        outline: 2px groove #424547;
        overflow: hidden;
        font-size: 12px;
        text-transform: uppercase; }
        header .nav ul li:hover {
          cursor: pointer;
          background-color: #35373a;
          color: #7a9cb2; }
        header .nav ul li a {
          overflow: hidden;
          position: relative;
          color: #d4d4d4; }
          header .nav ul li a:hover {
            cursor: pointer;
            color: #7a9cb2; }

footer {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%; }
  footer #top {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 0 0 39px 0;
    background-color: #3a3d40;
    -webkit-box-shadow: inset 0 5px 0 0 #2f3235;
    box-shadow: inset 0 5px 0 0 #2f3235; }
    @media (min-width: 480px) and (max-width: 1024px) {
      footer #top {
        columns: 2;
        -moz-columns: 2;
        -webkit-columns: 2;
        padding: 39px 0 39px 0; } }
    footer #top .border {
      display: block;
      overflow: hidden;
      position: relative;
      width: 100%;
      outline: 1px dotted #5b5e60;
      outline-offset: 1px;
      margin: 19px 0 19px 0; }
    footer #top .posts {
      float: left;
      width: 220px;
      overflow: visible;
      position: relative;
      margin: 0 27px 0 0; }
      @media (min-width: 480px) and (max-width: 1024px) {
        footer #top .posts {
          float: none; } }
      @media (min-width: 320px) and (max-width: 479px) {
        footer #top .posts {
          float: none;
          display: block;
          margin: 0 auto;
          text-align: center; } }
      footer #top .posts h3 {
        margin: 39px 0 29px 0;
        font-family: 'Aller';
        font-weight: bold;
        font-style: normal;
        color: #e3e3e3;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 1.571;
        text-align: left; }
        @media (min-width: 480px) and (max-width: 1024px) {
          footer #top .posts h3 {
            margin: 0 0 29px 0; } }
        @media (min-width: 320px) and (max-width: 479px) {
          footer #top .posts h3 {
            text-align: center; } }
      footer #top .posts ul {
        display: block;
        overflow: hidden;
        position: relative;
        width: 100%; }
        footer #top .posts ul li {
          display: block;
          overflow: hidden;
          position: relative;
          width: 100%; }
          footer #top .posts ul li a {
            color: #bfbfbf;
            font-size: 13px;
            font-family: 'Droid Sans';
            font-weight: normal;
            font-style: normal;
            line-height: 1.692;
            text-align: left; }
            @media (min-width: 320px) and (max-width: 479px) {
              footer #top .posts ul li a {
                text-align: center; } }
            footer #top .posts ul li a span {
              display: block;
              overflow: hidden;
              position: relative;
              width: 100%;
              font-size: 11px;
              font-family: 'Droid Sans';
              font-weight: normal;
              font-style: normal;
              line-height: 2.273;
              text-align: left;
              color: #797d82; }
              @media (min-width: 320px) and (max-width: 479px) {
                footer #top .posts ul li a span {
                  text-align: center; } }
    footer #top .twitter {
      float: left;
      width: 220px;
      overflow: visible;
      position: relative;
      margin: 0 27px 0 0; }
      @media (min-width: 480px) and (max-width: 1024px) {
        footer #top .twitter {
          float: none; } }
      @media (min-width: 320px) and (max-width: 479px) {
        footer #top .twitter {
          float: none;
          display: block;
          margin: 0 auto;
          text-align: center; } }
      footer #top .twitter h3 {
        margin: 39px 0 29px 0;
        font-family: 'Aller';
        font-weight: bold;
        font-style: normal;
        color: #e3e3e3;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 1.571;
        text-align: left; }
        @media (min-width: 320px) and (max-width: 479px) {
          footer #top .twitter h3 {
            text-align: center; } }
      footer #top .twitter ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        footer #top .twitter ul li {
          position: relative; }
          footer #top .twitter ul li a {
            position: relative;
            color: #bfbfbf;
            font-size: 13px;
            font-family: 'Droid Sans';
            font-weight: normal;
            font-style: normal;
            line-height: 1.923;
            text-align: left; }
            @media (min-width: 320px) and (max-width: 479px) {
              footer #top .twitter ul li a {
                text-align: center; } }
            footer #top .twitter ul li a span {
              color: #86acc4; }
            footer #top .twitter ul li a i.fab {
              color: #a6a8a9;
              margin-right: 6px; }
    footer #top .about {
      float: left;
      width: 220px;
      overflow: visible;
      position: relative;
      margin: 0 27px 0 0; }
      @media (min-width: 480px) and (max-width: 1024px) {
        footer #top .about {
          float: none; } }
      @media (min-width: 320px) and (max-width: 479px) {
        footer #top .about {
          float: none;
          display: block;
          margin: 0 auto;
          text-align: center; } }
      footer #top .about h3 {
        margin: 39px 0 29px 0;
        font-family: 'Aller';
        font-weight: bold;
        font-style: normal;
        color: #e3e3e3;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 1.571;
        text-align: left; }
        @media (min-width: 320px) and (max-width: 479px) {
          footer #top .about h3 {
            text-align: center; } }
      footer #top .about p {
        position: relative;
        color: #bfbfbf;
        font-size: 13px;
        font-family: 'Droid Sans';
        font-weight: normal;
        font-style: normal;
        line-height: 1.923;
        text-align: left; }
        @media (min-width: 320px) and (max-width: 479px) {
          footer #top .about p {
            text-align: center; } }
    footer #top .form {
      width: 219px;
      float: left;
      overflow: hidden;
      position: relative;
      margin: 0 0 40px 0; }
      @media (min-width: 480px) and (max-width: 1024px) {
        footer #top .form {
          float: none; } }
      @media (min-width: 320px) and (max-width: 479px) {
        footer #top .form {
          float: none;
          display: block;
          margin: 0 auto;
          text-align: center; } }
      footer #top .form h3 {
        margin: 39px 0 29px 0;
        font-family: 'Aller';
        font-weight: bold;
        font-style: normal;
        color: #e3e3e3;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 1.571;
        text-align: left; }
        @media (min-width: 320px) and (max-width: 479px) {
          footer #top .form h3 {
            text-align: center; } }
      footer #top .form form.f1 {
        display: block;
        overflow: hidden;
        margin: 0 0 10px 0; }
        footer #top .form form.f1 input {
          display: block;
          overflow: hidden;
          background-color: #282b2d;
          border: none;
          height: 35px;
          width: 219px;
          color: #bfbfbf;
          padding: 3px 3px 3px 3px; }
      footer #top .form form.f2 {
        display: block;
        overflow: hidden;
        margin: 0 0 10px 0; }
        footer #top .form form.f2 input {
          display: block;
          overflow: hidden;
          height: 35px;
          width: 219px;
          background-color: #2d3032;
          border: none;
          color: #bfbfbf;
          padding: 3px 3px 3px 3px; }
      footer #top .form form.f3 {
        display: block;
        overflow: hidden;
        margin: 0 0 10px 0; }
        footer #top .form form.f3 textarea {
          height: 140px;
          width: 219px;
          display: block;
          overflow: hidden;
          resize: none;
          background-color: #2d3032;
          border: none;
          color: #bfbfbf;
          padding: 3px 3px 3px 3px; }
      footer #top .form input[type=submit] {
        border-color: #2f3235;
        border-width: 1px;
        border-radius: 3px;
        color: #ffffff;
        display: block;
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 29px;
        width: 110px;
        margin: 11px 0 0 0;
        background: #7794a7;
        background: -moz-linear-gradient(top, #7794a7 0%, #577488 100%);
        background: -webkit-linear-gradient(top, #7794a7 0%, #577488 100%);
        background: -webkit-gradient(linear, left top, left bottom, from(#7794a7), to(#577488));
        background: -o-linear-gradient(top, #7794a7 0%, #577488 100%);
        background: linear-gradient(to bottom, #7794a7 0%, #577488 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7794a7', endColorstr='#577488',GradientType=0 );
        font-size: 13px;
        font-family: 'Droid Sans';
        font-weight: normal;
        font-style: normal;
        cursor: pointer;
        line-height: 1.923; }
        @media (min-width: 320px) and (max-width: 479px) {
          footer #top .form input[type=submit] {
            float: none;
            display: block;
            margin: 0 auto;
            text-align: center; } }
  footer #bottom {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: #2f3235;
    border-top: 1px solid #000; }
    footer #bottom p {
      float: left;
      margin: 29px 0 29px 0;
      color: #bfbfbf;
      font-family: 'Droid Sans';
      font-weight: normal;
      font-style: normal;
      font-size: 13px; }
      footer #bottom p span {
        color: #86acc4; }
      @media (min-width: 320px) and (max-width: 413px) {
        footer #bottom p {
          float: none;
          display: block;
          margin: 29px auto;
          text-align: center; } }
    footer #bottom .social {
      position: relative; }
      footer #bottom .social ul {
        float: right;
        overflow: hidden;
        position: relative; }
        @media (min-width: 320px) and (max-width: 413px) {
          footer #bottom .social ul {
            float: none;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
            justify-content: space-around; } }
        footer #bottom .social ul li {
          float: left;
          margin: 23px 0 23px 6px; }
          footer #bottom .social ul li a {
            position: relative; }
            footer #bottom .social ul li a img {
              position: relative; }

.blog {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 50px 0 50px 0; }
  .blog h3 {
    text-align: center;
    font-family: 'Aller';
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    margin-bottom: 20px;
    color: #555555; }
  .blog p {
    position: relative;
    text-align: center;
    font-family: 'Aller';
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 1.4;
    color: #555555; }
  .blog ul {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    margin: 28px 0 0 0; }
    @media (min-width: 896px) and (max-width: 970px) {
      .blog ul {
        -ms-flex-pack: distribute;
        justify-content: space-around; } }
    @media (min-width: 320px) and (max-width: 895px) {
      .blog ul {
        -ms-flex-pack: distribute;
        justify-content: space-around; } }
    .blog ul li {
      float: left;
      overflow: hidden;
      position: relative;
      width: 461px;
      margin-bottom: 10px; }
      .blog ul li .date {
        float: left;
        overflow: hidden;
        width: 55px;
        height: 55px;
        background-color: #ececec;
        border-radius: 50%;
        margin-right: 10px; }
        .blog ul li .date p {
          display: block;
          position: relative;
          font-size: 22px;
          font-family: "Aller";
          text-transform: uppercase;
          line-height: 0.636;
          text-align: center;
          margin-top: 12px;
          margin-left: 0px;
          color: #555555; }
        .blog ul li .date .mont {
          font-size: 14px;
          font-family: "Aller";
          text-transform: uppercase;
          line-height: 0.636;
          text-align: center;
          margin-top: 8px; }
      .blog ul li h4 {
        font-family: 'Aller';
        font-weight: bold;
        font-style: normal;
        text-align: left;
        font-size: 17px;
        line-height: 1.765;
        color: #555555; }
      .blog ul li p {
        font-size: 13px;
        text-align: left;
        font-family: 'Droid Sans';
        font-weight: normal;
        font-style: normal;
        line-height: 1.692;
        margin-left: 65px;
        color: #555555; }
      .blog ul li span {
        font-size: 11px;
        font-family: "DroidSans";
        line-height: 1.818;
        text-align: left;
        color: #6b99b6;
        margin-left: 65px; }

.costumers {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 50px 0 50px 0; }
  .costumers h3 {
    text-align: center;
    font-family: 'Aller';
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    margin-bottom: 20px;
    color: #555555; }
  .costumers p {
    position: relative;
    text-align: center;
    font-family: 'Aller';
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: #555555; }
  .costumers .imgbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin: 37px 0 0 0; }

.projects {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 50px 0 50px 0; }
  .projects h3 {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    text-align: center;
    font-family: 'Aller';
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    margin-bottom: 20px;
    color: #555555; }
  .projects p {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    text-align: center;
    font-family: 'Aller';
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 1.4;
    color: #555555; }
  .projects .img-box {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (min-width: 896px) and (max-width: 970px) {
      .projects .img-box {
        -ms-flex-pack: distribute;
        justify-content: space-around; } }
    @media (min-width: 320px) and (max-width: 896px) {
      .projects .img-box {
        -ms-flex-pack: distribute;
        justify-content: space-around; } }
    .projects .img-box img {
      margin-bottom: 12px; }

.services {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 50px 0 50px 0; }
  .services h3 {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    text-align: center;
    font-family: 'Aller';
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    margin-bottom: 20px;
    color: #555555; }
  .services p {
    display: block;
    position: relative;
    text-align: center;
    font-family: 'Aller';
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 1.4;
    color: #555555; }
  .services .tabs {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 35px 0 0 0;
    text-align: center; }
    .services .tabs li {
      display: inline-block;
      overflow: visible;
      margin: 0 0 0 -5px;
      padding: 10px 0 10px 0;
      width: 118px;
      text-align: center;
      font-family: 'Aller';
      font-weight: bold;
      font-style: normal;
      font-size: 13px;
      color: #555555;
      border: 1px solid #d7d7d7;
      border-bottom: none;
      background: #f8f8f8;
      cursor: pointer; }
      @media (min-width: 320px) and (max-width: 413px) {
        .services .tabs li {
          width: 100px; } }
    .services .tabs li:hover {
      color: #6b99b6; }
    .services .tabs :first-child {
      margin-left: 0; }
    .services .tabs .active {
      display: inline-block;
      overflow: visible;
      position: relative;
      color: #6b99b6;
      border: 1px solid #c5c5c5;
      border-bottom: 1px solid #fdfdfd;
      background: #fdfdfd; }
    .services .tabs a {
      position: relative; }
  .services .tab-content {
    display: block;
    overflow: visible;
    border-top: 1px solid #C0C0C0;
    padding: 30px 0 0 0;
    background: #fdfdfd;
    margin-top: -1px; }
    .services .tab-content .t1 {
      display: block;
      overflow: hidden;
      position: relative;
      width: 100%;
      overflow: visible; }
      .services .tab-content .t1 .imgbox1 {
        overflow: hidden;
        position: relative;
        float: left;
        margin-right: 30px; }
        @media (min-width: 320px) and (max-width: 767px) {
          .services .tab-content .t1 .imgbox1 {
            float: none;
            display: block;
            margin: 0 auto; } }
        .services .tab-content .t1 .imgbox1 img {
          position: relative; }
          @media (min-width: 320px) and (max-width: 767px) {
            .services .tab-content .t1 .imgbox1 img {
              float: none;
              display: block;
              margin: 0 auto; } }
      .services .tab-content .t1 h4 {
        display: block;
        overflow: hidden;
        font-family: 'Aller';
        font-weight: bold;
        font-style: normal;
        text-align: left;
        font-size: 17px;
        line-height: 1.765;
        color: #555555;
        margin: 0 0 16px 0; }
        @media (min-width: 768px) and (max-width: 896px) {
          .services .tab-content .t1 h4 {
            margin-bottom: 8px; } }
        @media (min-width: 320px) and (max-width: 767px) {
          .services .tab-content .t1 h4 {
            text-align: center; } }
      .services .tab-content .t1 p {
        display: block;
        overflow: hidden;
        font-family: 'Droid Sans';
        font-weight: normal;
        font-style: normal;
        font-size: 13px;
        text-align: left;
        line-height: 1.692;
        color: #555555; }
        @media (min-width: 320px) and (max-width: 767px) {
          .services .tab-content .t1 p {
            text-align: center; } }
      .services .tab-content .t1 ul {
        float: left;
        margin-top: 32px; }
        @media (min-width: 768px) and (max-width: 896px) {
          .services .tab-content .t1 ul {
            margin-top: 16px; } }
        .services .tab-content .t1 ul li {
          display: block;
          overflow: hidden;
          position: relative;
          width: 100%;
          text-align: left;
          font-family: 'Droid Sans';
          font-weight: normal;
          font-style: normal;
          font-size: 13px;
          line-height: 1.692;
          color: #555555; }
          .services .tab-content .t1 ul li .fas {
            color: #709fbd;
            height: 9px;
            width: 12px;
            margin-right: 9px; }
    .services .tab-content .t2 {
      display: block;
      overflow: hidden;
      position: relative;
      width: 100%; }
      .services .tab-content .t2 .imgbox2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        @media (min-width: 320px) and (max-width: 970px) {
          .services .tab-content .t2 .imgbox2 {
            -ms-flex-pack: distribute;
            justify-content: space-around; } }
        .services .tab-content .t2 .imgbox2 img {
          position: relative;
          margin: 0 5px 5px 0; }
    .services .tab-content .t3 {
      display: block;
      overflow: hidden;
      position: relative;
      width: 100%; }
      .services .tab-content .t3 .imgbox3 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        @media (min-width: 320px) and (max-width: 970px) {
          .services .tab-content .t3 .imgbox3 {
            -ms-flex-pack: distribute;
            justify-content: space-around; }
            .services .tab-content .t3 .imgbox3 :nth-child(2n) {
              margin-right: 0; } }
        .services .tab-content .t3 .imgbox3 img {
          position: relative;
          margin: 0 5px 5px 0; }

.burger-box {
  z-index: 999;
  position: fixed;
  top: 15px;
  right: 20px;
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer; }

.burger {
  content: '';
  font-size: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 4px;
  background: #333;
  -webkit-transition: background 0.3s, top 0.3s, -webkit-transform 0.3s;
  transition: background 0.3s, top 0.3s, -webkit-transform 0.3s;
  -o-transition: background 0.3s, transform 0.3s, top 0.3s;
  transition: background 0.3s, transform 0.3s, top 0.3s;
  transition: background 0.3s, transform 0.3s, top 0.3s, -webkit-transform 0.3s; }
  .burger:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 24px;
    height: 4px;
    background: #333;
    -webkit-transition: background 0.3s, top 0.3s, -webkit-transform 0.3s;
    transition: background 0.3s, top 0.3s, -webkit-transform 0.3s;
    -o-transition: background 0.3s, transform 0.3s, top 0.3s;
    transition: background 0.3s, transform 0.3s, top 0.3s;
    transition: background 0.3s, transform 0.3s, top 0.3s, -webkit-transform 0.3s;
    top: -8px;
    left: 0;
    content: ""; }
  .burger:after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 24px;
    height: 4px;
    background: #333;
    -webkit-transition: background 0.3s, top 0.3s, -webkit-transform 0.3s;
    transition: background 0.3s, top 0.3s, -webkit-transform 0.3s;
    -o-transition: background 0.3s, transform 0.3s, top 0.3s;
    transition: background 0.3s, transform 0.3s, top 0.3s;
    transition: background 0.3s, transform 0.3s, top 0.3s, -webkit-transform 0.3s;
    top: 8px;
    left: 0;
    content: ""; }

.is-open .burger {
  -webkit-transform: translateX(220px);
  -moz-transform: translateX(220px);
  -ms-transform: translateX(220px);
  -o-transform: translateX(220px);
  transform: translateX(220px);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
  background: transparent; }
  .is-open .burger:before {
    top: 0;
    -webkit-transform: rotateZ(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotateZ(-45deg); }
  .is-open .burger:after {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -ms-transform: rotate(45deg);
    transform: rotateZ(45deg); }

.sliding-panel-content {
  position: fixed;
  top: 0px;
  right: auto;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 220px;
  -webkit-transform: translateX(-220px);
  -moz-transform: translateX(-220px);
  -ms-transform: translateX(-220px);
  -o-transform: translateX(-220px);
  transform: translateX(-220px);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
  background: #404040;
  z-index: 998;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }
  .sliding-panel-content ul {
    padding: 0;
    margin: 0; }
  .sliding-panel-content li {
    list-style: none; }
    .sliding-panel-content li:first-child {
      margin-top: 50px; }
  .sliding-panel-content li a {
    border-bottom: 1px solid #333;
    color: #fff;
    display: block;
    font-weight: bold;
    padding: 1em;
    text-decoration: none; }
    .sliding-panel-content li a:focus {
      background-color: #4d4d4d; }
    .sliding-panel-content li a:hover {
      background-color: #477DCA;
      color: #fff; }
  .sliding-panel-content.is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

.sliding-panel-fade-screen {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  -o-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: black;
  opacity: 0;
  visibility: hidden;
  z-index: 997; }
  @media (min-width: 768px) and (max-width: 1919px) {
    .sliding-panel-fade-screen {
      display: none; } }
  .sliding-panel-fade-screen.is-visible {
    opacity: 0.4;
    visibility: visible; }

.sliding-panel-button {
  padding: 10px 16px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  outline: none; }
  .sliding-panel-button img {
    height: 1.3em; }

/** VARIABLES
===================================*/
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin-bottom: 60px;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

.bxslider {
  margin: 0;
  padding: 0; }

ul.bxslider {
  list-style: none; }

.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0); }

/** THEME
===================================*/
.bx-wrapper {
  margin: 50px 0 50px 0; }

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url("../images/bx_loader.gif") center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 95; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #000; }

.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: none;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 20px;
  background: url("../images/img-larrow.png") no-repeat 0 0; }

.bx-wrapper .bx-next {
  right: 20px;
  background: url("../images/img-rarrow.png") no-repeat 0 0; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  outline: 0;
  width: 35px;
  height: 36px;
  text-indent: -9999px;
  z-index: 99; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url("../images/controls.png") -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url("../images/controls.png") -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }
